$grids: 12;
$neat-grid: (
  columns: $grids,
  gutter: 6%,
);


.col-xm-12 {
  @include grid-column(12);

}

.col-sm-6 {
  @include breakpoint(640px) {
    @include grid-column(6);
    
  }
}

.col-sm-12 {
  @include breakpoint(640px) {
    @include grid-column(12);
    
  }
}

.col-sm-3 {
  @include breakpoint(640px) {
    @include grid-column(3);
    
  }
}

.col-sm-4 {
  @include breakpoint(640px) {
    @include grid-column(4);
    
  }
}

.paragraph--type--dorset-semester-modules{
  @include breakpoint(640px) {
    @include grid-column(6);
    &:nth-child(3n+3){
      clear: both;
      }
      margin-top:1.5em;
    }
    
  }	




