
// Base Colours

$white: #fff;
$black: #000;

// Dorset College Colours
$dc-blue: #3366FF;
$dc-red: #F14950;
$dc-yellow: #E7B929;
$dc-outline: #D4D1D1;
$dc-footer: #14235D;
$dc-grey: #F8F8F8;
$dc-nav: #6d6e71;
$dc-bg: #f2f2f2;
$dc-border-color: #979797;

// Overlays
$dc-overlay: rgba(45, 45, 45, 0.38);
$dc-red-overlay: rgba(241, 73, 80, 0.5);
$dc-blue-overlay: rgba(51, 102, 255, 0.5);
$dc-blue-about: rgba(51, 102, 255, 0.8);
$dc-news-overlay: rgba(45, 45, 45, 0.7);


// Font Colours
$p-color: #5D5D5D;
$h1-color: #fff;
$h2-color: #fff;
$h2-grey-color: #5D5D5D;
$p-pag-color: #919396;

// Breakpoints
$bp-medium: 640px;

// Breakpoints to font
$breakpoints: (
  xmall: 0,
  small: 375px,
  medium: $bp-medium,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);

// Base Sizes
$about-height: 243px;

// Base Typography
@font-face {

  font-family: Lato;
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

}

$h-weight: 700; //headers font-weight
$p-bold-weight: 700;
$p-weight: 400; //P default font-weight
$p-stat-weight: 700;
$link-weight: 700;

$h1-font-sizes: (
  xsmall: (16px, 1.1),
  small: (20px, 1.1),
  medium: (30px, 1.2),
  xlarge: (60px, 1.2),
);

$h2-font-sizes: (
  xsmall: (16px, 1.2),
  small: (20px, 1.2),
  xlarge: (30px, 1.2),
);

$h3-font-sizes: (
  small: (16px, 1.18),
  medium: (16px, 1.18),
  large: (16px, 1.44),
  xlarge: (25px, 1.44),
);

$p-font-sizes: (
  small: (11px, 1.63),
  medium: (11px, 1.63),
  large: (16px, 1.68),
  xlarge: (16px, 1.68),
);

$p-default: (
  small: (11px, 1.63),
  medium: (11px, 1.63),
  large: (16px, 1.68),
  xlarge: (16px, 1.68),
);

$p-default-white: (
  small: (11px, 1.63),
  medium: (11px, 1.63),
  large: (16px, 1.68),
  xlarge: (16px, 1.68),
);

$p-default-white-bold: (
  small: (11px, 1.63),
  medium: (11px, 1.63),
  large: (16px, 1.68),
  xlarge: (16px, 1.68),
);

$p-action-white-bold: (
  small: (11px, 1.2),
  medium: (11px, 1.2),
  large: (16px, 1.68),
  xlarge: (16px, 1.3),
);

$p-links: (
  xsmall: (11px, 1.63),
  medium: (11px, 1.2),
  large: (16px, 1.68),
  xlarge: (16px, 1.68),
);

$p-stat: (
  xsmall: (16px, 1.43),
  xlarge: (20px, 1.5),
);

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}

// SPACING
$title-padding: 25px 0;
$title-list-padding: 25px 0 20px 0;
$content-padding: 6%;
$links-margin: 4.5px 0;
$list-padding: 7%;
$block-padding: 25px 0;
$padding-default: 25px;
$margin-default: 25px;

/**
  *
  * Social media
  *
*/
$icon-size: 24px;
$sm-icon-margin: 0 2px;
$sm-block-margin: 10px;

/**
  *
  * Statistics/ Block with Icons and Content
  *
*/
$stats-block-padding: 17.5px 0;
$stats-block-margin: 50px;
$stat-item-margin: 7.5px 0;
$stat-intro-margin: 15px 7.5px;
$stat-content-margin: 0 7.5px;

/**
  *
  * About Block
  *
*/
$about-margin-over: -75px;
$about-content-padding: 0 10% 20px 10%;
$about-link-padding: 25px;


/**
  *
  * Links
  *
*/
$link-border-padding: 0 5px 5px 5px;
$link-padding: 25px 0;

/**
  *
  * News & Events
  *
*/
$news-field-margin: 13px;
$news-body-margin: 20px;

/**
  *
  * Find a Course table
  *
*/
$fc-row-padding: 0 6%;
$fc-row-min-hg: 50px;
$fc-row-border: solid 1.5px $dc-border-color;


// IMAGES
$hm-head-hg: 309px;
$default-head-hg: 191px;
