
// Base Colours

$white: #fff;
$black: #000;
// Dorset College
$dc-blue: #3366FF;
$dc-red: #F14950;
$dc-yellow: #E7B929;
$dc-outline: #D4D1D1;
$dc-footer: #14235D;
$dc-grey: #F8F8F8;
$dc-nav: #6d6e71;  
$dc-overlay: rgba(212, 209, 209, 0.38);


// Breakpoints

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);

// Grids

$grids: 12;
@include add-grid($grids);
@include add-gutter(1/3);
@include sgs-change('debug', true);

// Base Typography

@font-face {

  font-family: Lato;
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
  
}

$h-weight: 700; //headers font-weight
$p-weight: 400; //P default font-weight

$h1-font-sizes: (
  small: (20pt, 1.1),
  medium: (30pt, 1.2),
  xlarge: (60pt, 1.2),
);

$h2-font-sizes: (
  small: (20pt, 1.2),
  xlarge: (30pt, 1.2),
);

$h3-font-sizes: (
  small: (16pt, 1.18),
  xlarge: (25pt, 1.44),
);

$p-font-sizes: (
  small: (11pt, 1.63),
  xlarge: (16pt, 1.68),
);

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}

// SPACING

$content-padding: 6%;