{% extends "block.html.twig" %}
{% block content %}
  <div id="site-branding">
      <div id="logo">
        <a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
      </div>
  </div>
  <div id = "menu-mob">
      <div id="main-menu-trigger" class="mob-menu-trigger">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
 
{% endblock %}

 
