<div id="bookingform" ng-app="BookingForm" ng-controller="formCtrl">
  <!-- Content UI-View -->
  <form name="bookingStepForm" ng-submit="processForm()">
      <div ui-view>
      </div>
  </form>
</div>
<!-- AngularJS Includes **Only for Dev** -->
<!-- Angular Libraries -->
<script src="../js/library/angular.min.js"></script>
<script src="../js/library/angular-ui-router.min.js"></script>
<script src="../js/library/angular-filter.min.js"></script>
<script src="../js/library/lodash.min.js"></script>

<!-- App Components -->
<script src="../js/bookingFormApp/app.js"></script>
<script src="../js/bookingFormApp/config/form.config.js"></script>
<script src="../js/bookingFormApp/services/data.service.js"></script>
<script src="../js/bookingFormApp/services/form.service.js"></script>
<script src="../js/bookingFormApp/controllers/form.controller.js"></script>

