<div id="bookingform" ng-app="BookingForm" ng-controller="formCtrl">
  <!-- Content UI-View -->
  <form name="bookingStepForm" ng-submit="processForm()">
    {% verbatim %}
      <div ui-view>
      </div>
    {% endverbatim %}
  </form>
</div>
