{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form action="/find-a-course/search" method="get" id="views-exposed-form-course-search-page-1" accept-charset="UTF-8" data-drupal-form-fields="edit-search">
  {{ children }}
</form>
