.block-region-homeabout {
  position: relative;

  .block-content-with-title {
    margin-top: -67.5px;

    .block-title {
      text-align: center;
      
    }
    .block-content,
    .block-link {
      padding: $about-content-padding;

    }
    .block-link {
      text-align: center;
      
    }
  }
}