.path-frontpage .block-region-headerimage {
  .header-img {
    height: $hm-head-hg;
    
  }
}
// Set default header image height
.header-img {
  height: $default-head-hg;
  
}
#zone-header-img,
.block-region-headerimage {
  position: relative;

  .txt-banner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    
  }
}