#section-header {
  height: 71px;
  background-color: $white;

}
#logo {
  display: inline-block;
  margin-top: 7px;
  
  .site-logo {
    display: inline-block;

    img {
      width: 57px;
      height: 57px;
      display: block !important;

    }
  }
}