.path-frontpage .block-region-headerimage {
  .header-img {
    height: $hm-head-hg;
    
  }
}
// Set default header image height
.header-img {
  height: $default-head-hg;
  
}
#zone-header-img,
.block-region-headerimage {
  position: relative;

  .txt-banner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
    
  }
}

@media screen and (max-width: 600px){ 
 #zone-header-img .txt-banner {
    margin-top: 2rem;
   }
}