// Marc CSS

// Courses Page

.block-views-blockcourses-view-block-2 {
  width: 49.95%;
  height: 500px;
  display: inline-block;
  float: left;
}

.block-views-blockcourses-view-block-2 div{
  .views-field{
  width: 33%;
  height: 239.5px;
  display: inline-block;
  text-align: center;
  float: left;
  background-size: 82px 82px;
  background-position: 50% 20%;
  background-repeat: no-repeat;

  }

  .views-field-field-course-delivery-mode{
      background-image: url('/sites/default/files/block-bg/diploma.svg');
  }
  //      Validated By
  .views-field-field-validated-by{
      background-image: url('/sites/default/files/block-bg/diploma-2.svg');
  }
  //      NFQ Level
  .views-field-field-nfq-level{
      background-image: url('/sites/default/files/block-bg/graduation.svg');
  }
  //
  .views-field-field-dorset-course-duration{
      background-image: url('/sites/default/files/block-bg/hourglass.svg');
  }
  //      Campus
  .views-field-field-campus{
      background-image: url('/sites/default/files/block-bg/museum-1.svg');
  }
  //      Type
  .views-field-field-type-of-course{
    background-image: url('/sites/default/files/block-bg/open-book-1.svg');
  }

  .field-content{
    position: relative;
    top: 50%;
    padding: 28px;
    font-size: 20px;
    color: #5D5D5D;
    text-align: center;
  }

    .field-content a{
      font-size: 20px;
      color: #5D5D5D;
      text-align: center;
      line-height: initial;
  }
    .views-label {
      position: relative;
      top: 8.5em;
      //font-size: 16px;
      color: #5D5D5D;
      text-align: center;
  }
}

.block-views-blockcourses-view-block-7{
  width: 33.3% !important;
  height: 559px;
  display: inline-block;
  margin-top: -60px;
  background-image: linear-gradient(rgba(241,73,80,0.5),rgba(241,73,80,0.5)), url('/sites/default/files/styles/large/public/block_list/how_to_apply_0.jpg?itok=aKX80AYP');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.block-views-blockcourses-view-block-7 h2{
  font-size: 30px;
  color: #FFFFFF;
  padding: 27.5% 20% 0% 20%;
  text-align: left;
}

.block-views-blockcourses-view-block-7 .list-element{
  font-size: 16px;
  color: #FFFFFF;
  div {
    color: #FFFFFF;
  }
  text-align: left;
  padding: 10% 20% 20% 20%;
}

.block-views-blockcourses-view-block-7 .list-element div{
  visibility: visible !important;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.block-views-blockcourses-view-block-7 .paragraph--view-mode--default div{
  visibility: hidden;
}


.block-views-blockcourses-view-block-14 {
  width: 16.65% !important;
  height: 479px;
  background-image: url('/sites/default/files/block-bg/wallet.svg') !important;
  background-size: 82px 82px !important;
  background-position: 50% 8.5% !important;
  background-repeat: no-repeat !important;
  background-color: #ffffff !important;
  float: left;
}

.block-views-blockcourses-view-block-14 div{
  .views-field{
  width: 100%;
  display: inline-block;
  text-align: center;

  }
  .field-content{
    position: relative;
    top: 7.5em;
    font-size: 20px;
    color: #5D5D5D;
    text-align: center;
  }
}

.price-boxes .views-view-grid .views-row{
  color: #5D5D5D;
}

// Mobile CSS

@media only screen and (max-width: 600px) {
  .block-views-blockcourses-view-block-2 {
    width: 100%;
    //height: auto;
    display: block;
  }
  .block-views-blockcourses-view-block-2 div{
    .views-field{
    width: 50%;
    height: 162px;

      background-size: 61px 61px;
      background-position: 50% 30%;
    }
    //.field-content{
    //  font-size: 16px;
    //}
    //
    //.field-content a{
    //  font-size: 16px;
    //}
    //
    //.field-content p{
    //  font-size: 16px;
    //}

    .views-label {
        top: 9.5em;
        font-size: 11px;
    }
}

  .block-views-blockcourses-view-block-14 {
    width: 100% !important;
    //height: 182px;
    height: 200px;
    background-size: 61px 61px !important;
    background-position: 50% 10% !important;
  }

  .block-views-blockcourses-view-block-14 div{
    .views-field{
    width: 100%;
    display: inline-block;

    }
    .field-content{
      top: 110px;
      //font-size: 16px;
    }
  }

  .block-views-blockcourses-view-block-7{
    width: 100% !important;
    height: 195px;
    display: block;
    margin-top: 0px;
  }

  .block-views-blockcourses-view-block-7 h2{
    font-size: 20px;
    padding: 10% 5% 0%;
  }

  .block-views-blockcourses-view-block-7 .list-element{
    font-size: 11px;
    padding: 5% 10% 20%;
  }
}

// Tablet CSS

@media screen and (max-width: 900px) and (min-width: 600px) {
  .block-views-blockcourses-view-block-2 {
    //height: 375px;
    height: 410px;
  }

  .block-views-blockcourses-view-block-2 div{
    .views-field{
    height: 192px;
      background-size: 61px 61px;
    }
    .field-content{
      top: 40%;
      //font-size: 16px;
    }

    .field-content a{
      //font-size: 16px;
    }

    .field-content p{
      //font-size: 16px;
    }

    .views-label {
        top: 8em;
        font-size: 11px;
    }
  }


  .block-views-blockcourses-view-block-14 {
    height: 354px;
    background-size: 61px 61px !important;
  }

  .block-views-blockcourses-view-block-14 div{

    .field-content{
      position: relative;
      top: 125px;
      //font-size: 16px;
    }
  }

  .block-views-blockcourses-view-block-7{
    //height: 415px;
    height: 450px;
    margin-top: -40px;
  }

  .block-views-blockcourses-view-block-7 h2{
    font-size: 20px;
    padding: 30% 20% 0% 20%;
  }

  .block-views-blockcourses-view-block-7 .list-element{
    font-size: 11px;
  }
}

// iPad Pro CSS

@media screen and (max-width: 1024px) and (min-width: 900px) {
  .block-views-blockcourses-view-block-2 {
    height: 400px;
  }
  .block-views-blockcourses-view-block-2 div{
    .views-field{
    height: 162px;
      background-size: 61px 61px;
    }
    .field-content{
      top: 40%;
      //font-size: 16px;
    }

    //.field-content a{
    //  font-size: 16px;
    //}
    .views-label {
        top: 8em;
        //font-size: 11px;
    }
  }


  .block-views-blockcourses-view-block-14 {
    height: 324px;
    background-size: 61px 61px !important;
  }

  .block-views-blockcourses-view-block-14 div{

    .field-content{
      position: relative;
      top: 92px;
      //font-size: 16px;
    }
  }

  .block-views-blockcourses-view-block-7{
    height: 440px;
    margin-top: -40px;
  }

  .block-views-blockcourses-view-block-7 h2{
    font-size: 20px;
    padding: 30% 20% 0% 20%;
  }

  .block-views-blockcourses-view-block-7 .list-element{
    font-size: 11px;
  }
}


// Marc CSS Starts Here - Course Page

.block-views-blockcourses-view-block-7 h2{
  font-size: 30px;
  color: #FFFFFF;
  padding: 27.5% 20% 0% 20%;
  text-align: left;
}

.block-views-blockcourses-view-block-7 .list-element{
  //font-size: 16px;
  color: #FFFFFF;
  text-align: left;
  padding: 10% 20% 20% 20%;
}

.block-views-blockcourses-view-block-7 .list-element div{
  visibility: visible !important;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.block-views-blockcourses-view-block-7 .paragraph--view-mode--default div{
  visibility: hidden;
}


// Course Page Mobile CSS

@media only screen and (max-width: 600px) {

  .become{
    padding-left: 5%;
    padding-right: 5%;
  }

  .block-views-blockcourses-view-block-9 .cols-2{
    padding-left: 5%;
    padding-right: 5%;
  }

  .block-views-blockcourses-view-block-10 .cols-2{
    padding-left: 5%;
    padding-right: 5%;
  }

  .block-views-blockcourses-view-block-4 .price-element{
    padding-left: 5%;
    padding-right: 5%;
  }

  .block-views-blockcourses-view-course-prices-view .cols-3{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
  }

  .block-views-blockcourses-view-course-prices-view .cols-3 .col-sm-4{
    //padding-right: 8%;
    padding-bottom: 5%;
    width: 100%;
  }

  .block-views-blockcourses-view-block-5 .col-sm-12{
    padding-left: 5%;
    padding-right: 5%;
  }

  .block-views-blockcourses-view-block-2 {
    width: 100%;
    //height: auto;
    display: block;
  }
  .block-views-blockcourses-view-block-2 div{
    .views-field{
    width: 50%;
    height: 162px;

      background-size: 61px 61px;
      background-position: 50% 30%;
    }
    //.field-content{
    //  font-size: 16px;
    //}
    //
    //.field-content a{
    //  font-size: 16px;
    //}
    .views-label {
        top: 9.5em;
        font-size: 11px;
    }
}

   .course-apply{
    margin-left: 15em;
    margin-top: -10.5em;
  }

  .block-views-blockcourses-view-block-14 {
    width: 100% !important;
    //height: 182px;
    height: 200px;
    background-size: 61px 61px !important;
    background-position: 50% 10% !important;
  }

  .block-views-blockcourses-view-block-14 div{
    .views-field{
    width: 100%;
    display: inline-block;

    }
    .field-content{
      top: 110px;
      //font-size: 16px;
    }
  }

  .block-views-blockcourses-view-block-7{
    width: 100% !important;
    height: 195px;
    display: block;
    margin-top: 0px;
  }

  .block-views-blockcourses-view-block-7 h2{
    font-size: 20px;
    padding: 10% 5% 0%;
  }

  .block-views-blockcourses-view-block-7 .list-element{
    font-size: 11px;
    padding: 5% 10% 20%;
  }

  .block-views-blockcourses-view-block-6 .col-sm-12 {
    margin: 0 5%;
  }
}

// Course Page Tablet CSS

@media screen and (max-width: 900px) and (min-width: 600px) {
  .block-views-blockcourses-view-block-2 {
    //height: 375px;
    height: 410px;
  }

  .block-views-blockcourses-view-block-2 div{
    .views-field{
    height: 192px;
      background-size: 61px 61px;
    }
    .field-content{
      top: 40%;
      //font-size: 16px;
    }
    //
    //.field-content a{
    //  font-size: 16px;
    //}
    .views-label {
        top: 8em;
        font-size: 11px;
    }
  }


  .block-views-blockcourses-view-block-14 {
    height: 354px;
    background-size: 61px 61px !important;
  }

  .block-views-blockcourses-view-block-14 div{

    .field-content{
      position: relative;
      top: 125px;
      //font-size: 16px;
    }
  }

  .block-views-blockcourses-view-block-7{
    //height: 415px;
    height: 450px;
    margin-top: -40px;
  }

  .block-views-blockcourses-view-block-7 h2{
    font-size: 20px;
    padding: 30% 20% 0% 20%;
  }

  .block-views-blockcourses-view-block-7 .list-element{
    font-size: 11px;
  }
}

// Course Page iPad Pro CSS

@media screen and (max-width: 1024px) and (min-width: 900px) {
  .block-views-blockcourses-view-block-2 {
    height: 400px;
  }
  .block-views-blockcourses-view-block-2 div{
    .views-field{
    height: 162px;
      background-size: 61px 61px;
    }
    .field-content{
      top: 40%;
      //font-size: 16px;
    }

    //.field-content a{
    //  font-size: 16px;
    //}
    .views-label {
        top: 8em;
        font-size: 11px;
    }
  }


  .block-views-blockcourses-view-block-14 {
    height: 324px;
    background-size: 61px 61px !important;
  }

  .block-views-blockcourses-view-block-14 div{

    .field-content{
      position: relative;
      top: 92px;
      //font-size: 16px;
    }
  }

  .block-views-blockcourses-view-block-7{
    height: 440px;
    margin-top: -40px;
  }

  .block-views-blockcourses-view-block-7 h2{
    font-size: 20px;
    padding: 30% 20% 0% 20%;
  }

  .block-views-blockcourses-view-block-7 .list-element{
    font-size: 11px;
  }
}

//To Become Bullet Items

.become .paragraph--type--dorset-course-become {
  padding-bottom: 1em;
}

.become .col-sm-6 h3 {
  font-size: 30px;
  padding-top: 0.5em;
}

 .become .paragraph--type--dorset-course-become div div div{
  background-size: 32px 32px;
  //padding: 2em 0em 2em 2.5em;
  padding: 1em 0em 1em 2.5em;
  font-family: Lato;
  font-size: 18px;
  color: #5D5D5D;
}

.become .paragraph--type--dorset-course-become .become-icon {
  padding-bottom: 1.25em;
}

//Mobile To Become



@media only screen and (max-width: 600px) {
.become .paragraph--type--dorset-course-become .become-icon {
    padding: 0 5%;
  }

  .become .paragraph--type--dorset-course-become .become-icon div {
    padding: 0em 1em 3em 3em;
    font-size: 11px;
    width: 33%;
    float: left;
    background-position: left top;
  }
  
  .become .col-sm-6 h3 {
    text-align: center;
    font-size: 20px;
    padding-top: 0;
  }

  .become .paragraph--type--dorset-course-become div div div{
    background-size: 30px 30px;
    padding: 2em 2em 2em 4.5em;
    font-family: Lato;
    font-size: 11px;
    color: #5D5D5D;
  }
}

@media screen and (max-width: 975px) and (min-width: 600px) {
  .become .paragraph--type--dorset-course-become .become-icon {
    padding: 0 5%;
  }

  .become .paragraph--type--dorset-course-become .become-icon div {
    padding: 0em 1em 3em 3em;
    font-size: 11px;
    width: 33%;
    float: left;
    background-position: left top;
  }

  .become .col-sm-6 h3 {
    font-size: 20px;
  }
}

// News & Events Page

//.block-views-blocknews-events-block-1 .views-row {
//    position: relative;
//    width: 33%;
//    height: 374px;
//    display: inline-block;
//}

.col-news-4 .views-field-title .field-content a{
  font-size: 25px;
  font-weight: bold;
}

.col-news-4 .views-field, .col-news-4 .field-content {
    color: #fff !important;
    //margin: 0% 10%;
}

//.block-views-blocknews-events-block-1 .views-row .views-field {
//    z-index: 1;
//    color: #fff;
//    margin: 0% 10%;
//}

.block-views-blocknews-events-block-1 .views-row .views-field-body .field-content p{
    color: #fff;
    float: left;
}

.block-views-blocknews-events-block-1 .views-row .views-field-body .field-content a{
    border-bottom: 1px solid #FFF;
    margin-top: 2em;
    display: inline-block;
    font-weight: bold;
    margin-left: 38%;
    margin-right: 30%;
}




.col-news-4 .views-field-field-event- .field-content div{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    box-shadow: inset 0 0 0 2000px rgba(45,45,45,.7);
}

//.block-views-blocknews-events-block-1 .views-field-field-event- .field-content div{
//    background-repeat: no-repeat;
//    background-size: cover;
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    top: 0;
//    box-shadow: inset 0 0 0 2000px rgba(45,45,45,.7);
//}

//.block-views-blocknews-events-block-1 .views-row .views-field:nth-child(1){
//    font-weight: bold;
//    margin-top: 2.5em;
//}

//.block-views-blocknews-events-block-1 .views-row .views-field:nth-child(2){
//    margin-top: 0.5em;
//}

//.block-views-blocknews-events-block-1 .views-row .views-field:nth-child(3){
//    margin-top: 15px;
//    margin-bottom: 15px;
//}


//.block-views-blocknews-events-block-1 .views-row .views-field:nth-child(4){
    //position: absolute;
    //z-index: -1;
    //height: 100%;
    //width: 100%;
    //top: 0;
    //margin: 0;
//}

//.block-views-blocknews-events-block-1 .views-row .views-field:nth-child(5){
//    overflow-x: hidden;
//}

//.block-views-blocknews-events-block-1:nth-child(even) {
//    background: none;
//}

//.block-views-blocknews-events-block-1 .views-row:nth-child(2){
//   box-shadow: inset 0 0 0 2000px rgba(241, 73, 80, 1);
//}

//.block-views-blocknews-events-block-1 .views-row:nth-child(4){
//    box-shadow: inset 0 0 0 2000px rgba(41, 82, 204, 1);
//}
//
//.col-sm-4:nth-child(6){
//    box-shadow: inset 0 0 0 2000px rgba(231, 185, 41, 1);
//}

//News & Events Mobile CSS

@media only screen and (max-width: 600px) {

    //.block-views-blocknews-events-block-1 .views-row {
    //    width: 100%;
    //    height: 230px;
    //}

    //.block-views-blocknews-events-block-1 .views-row .views-field-title .field-content a{
    //    font-size: 16px;
    //}
    //
    //.block-views-blocknews-events-block-1 .views-row .views-field{
    //    font-size: 11px;
    //}
}

// News & Events Tablet CSS

@media screen and (max-width: 975px) and (min-width: 600px) {

    .block-views-blocknews-events-block-1 .views-row {
        height: 270px;
    }

    //.block-views-blocknews-events-block-1 .views-row .views-field {
    //    font-size: 11px;
    //}
    //
    //.block-views-blocknews-events-block-1 .views-row .views-field-title .field-content a{
    //    font-size: 16px;
    //}
    //
    //.block-views-blocknews-events-block-1 .views-row .views-field-body .field-content p{
    //    font-size: 11px;
    //}
    //
    //.block-views-blocknews-events-block-1 .views-row .views-field-body .field-content a{
    //    font-size: 11px;
    //}
}

// Home Page

.block-links{
    padding-left: 0;
    padding-right: 0;
}

.block-views-blocknews-events-block-pre-news-events .block-news-events .views-row{
    padding: 0;
}

.block-views-blocknews-events-block-pre-news-events .block-news-events .more-link{
    display: none;
}

.col-news-4 .views-field {
    margin: 0% 10%;
}

.col-news-4 .views-field-nothing{
    margin-top: 2em;
}

.block-views-blocknews-events-block-pre-news-events .block-news-events .views-row .views-field{
    margin-bottom: 0px;
}

.col-news-4 .views-field {
  &.views-field-field-type{
      font-weight: bold;
      margin-top: 2.5em;
      display: inline-block;
  }
  &.views-field-field-date{
        margin-top: .5em;
  }
  &.views-field-title{
      margin-top: 15px;
      margin-bottom: 15px !important;
  }
  //&.views-field-body{
  //  margin: 0;
  //}
  &.views-field-field-event-{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    margin: 0;
  }

}

//.col-news-4 .views-field:nth-child(6){
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    top: 0;
//    margin: 0;
//}

.col-news-4 {
    &:nth-child(6n+2){
    box-shadow: inset 0 0 0 2000px rgba(241, 73, 80, 1);
  }

  &:nth-child(6n+4){
      box-shadow: inset 0 0 0 2000px rgba(41, 82, 204, 1);
  }

  &:nth-child(6n+6){
      box-shadow: inset 0 0 0 2000px rgba(231, 185, 41, 1);
  }
}

.block-region-homeaccreditations .block-accreditations .block-icons div{
  width: 20%;
}

.block-region-homeaccreditations .block-accreditations .block-icons div div{
  width: 120px;
  height: 120px;
}

.price-element .field-content{
  font-weight: 700;
}

.price-element .field-content p{
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
}

// Home Page Desktop CSS

@media only screen and (min-width: 600px) {

  .path-frontpage #zone-main{
    margin-top: -50px;
  }

  .zone-section .block-region-homeactionblocks .block-list-bg-img{
      width: 50%;
      display: inline-block;
      height: 340px !important;
      float: left;
  }

  .zone-section .block-region-homeactionblocks .block-list-bg-img:nth-child(1) .block-title{
      margin-top: 2.15em;
  }

  .zone-section .block-region-homeactionblocks .block-list-bg-img:nth-child(2) .block-title{
      margin-top: 2.75em;
  }

  .zone-section .block-region-homeactionblocks .block-list-bg-img .block-content .block-title{
      margin-left: 7.5%;
  }

  .zone-section .block-region-homeactionblocks .block-list-bg-img .block-content .block-list{
      margin-left: 7.5%;
  }

  .zone-section .block-region-homeactionblocks .block-list-bg-img .block-content .btn-link-white a{
      padding: 10px 15px;
  }

  //.block-news-events .views-row:first-child{
  //    display: inline-block;
  //}

  .col-news-4{
      position: relative;
      width: 33.33333%;
      height: 374px;
      display: inline-block !important;
      padding: 0 !important;
      float: left;
  }
}

@media screen and (max-width: 975px) and (min-width: 600px) {
  .zone-section .block-region-homeactionblocks .block-list-bg-img:nth-child(1) .block-title{
      margin-top: 1.15em;
  }

  .zone-section .block-region-homeactionblocks .block-list-bg-img:nth-child(2) .block-title{
      margin-top: 2.1em;
  }
}

// Home Page Desktop CSS - Stats

@media only screen and (min-width: 975px) {
    .block-region-homestats .block-stats .stat-item{
        width: 25%;
        flex: inherit !important;
        padding: 50px 0px;
  }
}

//Home Page Mobile CSS

@media only screen and (max-width: 600px) {

    .col-news-4 {
        height: 230px;
        position: relative;
    }
    .block-region-homeaccreditations .block-accreditations .block-icons div div{
      width: 82px;
      height: 82px;
    }
}

// News & Events Tablet CSS

@media screen and (max-width: 975px) and (min-width: 600px) {

    .block-views-blocknews-events-block-pre-news-events .block-news-events .views-row {
        height: 270px;
    }
    .zone-section .block-region-homeactionblocks .block-list-bg-img{
      height: 215px !important;
    }
}

// Home Page iPad Pro CSS

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .col-news-4 .views-field:nth-child(3) h3{
    font-size: 25px;
  }
}

//About Page Map Desktop CSS
.paragraph--type--paragraph-map{
  height: 450px;
  margin: 0 5%;
}

.geolocation-formatter-map-wrapper{
  display: inline-block;
  width: 31%;
  padding: 1%;
  float: left;
}

.geolocation-formatter-map-wrapper .geolocation-google-map{
  height: 400px !important;
}

//About Page Mobile CSS Map

@media only screen and (max-width: 975px) {

  .paragraph--type--paragraph-map{
    margin: 0;
  }

  .geolocation-formatter-map-wrapper{
    display: inline-block;
    width: 100%;
    padding: 3% 0;
    float: left;
  }
  .geolocation-formatter-map-wrapper .geolocation-google-map{
    height: 300px !important;
  }
}

// Home Page iPad Pro CSS

@media screen and (max-width: 1200px) and (min-width: 1024px) {

  .geolocation-formatter-map-wrapper .geolocation-google-map{
    height: 350px !important;
  }
}

//Menu CSS

#section-header{
  height: 131px !important;
}

#block-dorsetcollege-main-menu{
  display: block;
  float: right;
  margin-top: 55px;
}

#block-dorsetcollege-main-menu ul li{
  display: inline-block;
}

#block-dorsetcollege-main-menu ul li a{
  color: #6D6E71;
  margin-right: 25px;
  padding-bottom: 10px;
}

#block-dorsetcollege-main-menu ul li a:hover{
  color: #3366FF;
  border-bottom: 2px solid #3366FF;
}

#block-dorsetcollege-main-menu ul li:nth-child(6) a{
  color: #FFF;
  background-color: #3366FF;
  border-radius: 60px;
  padding: 10px 15px;
  &:hover {
    opacity: 0.8;
    border-bottom: none;
  }
    &.is-active {
      color: #FFF !important;
      border-bottom: none !important;
  }
}
//#block-dorsetcollege-main-menu ul li:nth-child(6) a:hover{
//  border-bottom: none;
//}

#block-dorsetcollege-main-menu ul li:nth-child(7) a{
  color: #FFF;
  background-color: #F14950;
  border-radius: 60px;
  padding: 10px 15px;
  &:hover {
    opacity: 0.8;
    border-bottom: none;
  }
    &.is-active {
      color: #FFF !important;
      border-bottom: none !important;
  }
}
//#block-dorsetcollege-main-menu ul li:nth-child(7) a:hover{
//  border-bottom: none;
//}

#block-dorsetcollege-branding{
  float: left;
  margin-top: 8px;
}

#block-dorsetcollege-branding #logo a img{
  height: 102px;
  width: 102px;
}

#block-dorsetcollege-branding #main-menu-trigger{
  display: none;
}

#block-dorsetcollege-main-menu .sub-menu{
  display: none;
}

#block-dorsetcollege-main-menu #main-menu-trigger{
  display: none;
}

//Menu Mobile CSS

@media only screen and (max-width: 975px) {

  #section-header{
    height: 71px !important;
  }

  #block-dorsetcollege-main-menu{
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    right: 0;
    left: 0;
    margin-top: 71px;
  }

  #block-dorsetcollege-main-menu ul{
    margin-top: 10%;
    margin-left: 20%;
  }

  #block-dorsetcollege-main-menu ul li{
    margin-bottom: 40px;
    width: 100%;
  }

  #block-dorsetcollege-main-menu ul li:nth-child(6){
    width: inherit;
    display: inline-block;
  }

  #block-dorsetcollege-main-menu ul li:nth-child(7){
    width: inherit;
    display: inline-block;
  }

  #block-dorsetcollege-main-menu ul li:nth-child(6) a{
    display: inline-block;
    float: left;
  }

  #block-dorsetcollege-main-menu ul li:nth-child(7) a{
    display: inline-block;
    float: left;
  }

  #block-dorsetcollege-branding #logo a img{
    height: 57px;
    width: 57px;
  }

  #block-dorsetcollege-branding #logo{
    margin-top: 0;
  }

  #block-dorsetcollege-branding #main-menu-trigger{
    display: block;
  }
}

// Menu Tablet CSS

@media screen and (max-width: 975px) and (min-width: 600px) {

  //#block-dorsetcollege-main-menu ul li a{
  //  font-size: 25px;
  //}
  //
  //#block-dorsetcollege-main-menu ul li:nth-child(6) a{
  //  padding: 15px;
  //}

  #block-dorsetcollege-main-menu ul li:nth-child(7) a{
    padding: 15px;
  }

  #block-dorsetcollege-main-menu ul{
    margin-left: 25%;
  }
}

// Menu Awkward Nudging Fix CSS

@media screen and (max-width: 1175px) and (min-width: 1024px) {

  #block-dorsetcollege-main-menu ul li a{
    margin-right: 10px;
  }
}

// Course Module page

#cboxContent, .page-node-type-course-module{

  #section-header{
    display: none;
  }

  #section-footer{
    display: none;
  }

  footer{
    display: none;
  }

  .region-content article{
    //position: absolute;
    position: relative;
    padding: 5%;
  }

  .modtitle{
    display: inline-block;
    float: left;
    background-color: $dc-blue;
    width: 34%;
    height: 50px;
    padding: 2%;
    //font-size: 16px;
    line-height: 1.68;
    color: #FFF;
  }

  .modtitle, .modstat, .modsemester, .modcred, .modass {
    div{
      color: #FFF;
    }
  }

  .modtitle div:first-child{
    font-weight: 700;
  }

  .modstat{
    display: inline-block;
    float: right;
    background-color: $dc-blue;
    width: 16.66%;
    height: 50px;
    padding: 2%;
    //font-size: 16px;
    line-height: 1.68;
    color: #FFF;
  }

  .modstat div:first-child{
    font-weight: 700;
  }

  .modstat a{
    color: #FFF;
    font-weight: 400;
  }

  .modsemester{
    display: inline-block;
    float: right;
    background-color: $dc-blue;
    width: 16.66%;
    height: 50px;
    padding: 2%;
    //font-size: 16px;
    line-height: 1.68;
    color: #FFF;
  }

  .modsemester div:first-child{
    font-weight: 700;
  }

  .modcred{
    display: inline-block;
    float: right;
    background-color: $dc-blue;
    width: 16.66%;
    height: 50px;
    padding: 2%;
    //font-size: 16px;
    line-height: 1.68;
    color: #FFF;
  }

  .modcred div:first-child{
    font-weight: 700;
  }

  .moddesc{
    display: block;
    clear: both;
    padding: 2%;
  }

  .moddesc p:first-child{
    font-size: 25px;
    line-height: 1.44;
    color: #505D5D;
    font-weight: 700;
    margin: 0 0 25px;
  }

  .modindc{
    display: block;
    clear: both;
    padding: 2%;
  }

  .modindc p:first-child{
    font-size: 25px;
    line-height: 1.44;
    color: #505D5D;
    font-weight: 700;
    margin: 0 0 25px;
  }

  .modindc ul{
    margin: 2% !important;
  }

  .modindc ul li{
    //font-size: 16px;
    line-height: 1.68;
    color: #5D5D5D;
  }

  .modass{
    display: block;
    clear: both;
    padding: 2%;
    background-color: $dc-blue;
    height: 80px;
    //font-size: 16px;
    line-height: 1.68;
    color: #FFF;
  }

  .modass div:nth-child(3){
    font-weight: 700;
  }


  .modass .paragraph--type--dorset-module-detail div{
    display: inline-block;
  }

  .modass div .paragraph--type--dorset-module-detail div{
    float: left;
    width: 25%;
  }

  .modass div .paragraph--type--dorset-module-detail div div:nth-child(1){
    clear: both;
    width: 100%;
    font-weight: 700;
  }

  .modass div .paragraph--type--dorset-module-detail div div:nth-child(2){
    clear: both;
  }

    @media screen and (max-width: 975px) and (min-width: 600px) {

    .modtitle, .modcred, .modsemester, .modstat {
      height: 75px;
    }

    .modstat a{
      font-size: inherit;
    }

    .moddesc p{
      font-size: inherit;
    }
  }

  @media only screen and (max-width: 600px) {

    .modtitle, .modcred, .modsemester, .modstat {
      width: 95%;
      float: left;
    }

    .modindc ul{
      margin: 5% !important;
    }

    .modass {
      height: 18em;
    }

    .modass div .paragraph--type--dorset-module-detail div{
      width: 100%;
    }

    .modass div .paragraph--type--dorset-module-detail div div:nth-child(1) {
      padding: 1%;
    }

    .modass div .paragraph--type--dorset-module-detail div div:nth-child(2) {
      padding: 1%;
    }
  }

}

// Cathal
.views-element-container.block.block-views.block-views-blocknews-events-block-1{
  background: none;
}

//Marc AGAIN - About CSS

.block-accreditations .block-icons{
  display: flex;
}

.block-accreditations .block-icons div{
  width: 20%;
}

.block-accreditations .block-icons div div{
  width: 120px;
  height: 120px;
}

//@media only screen and (max-width: 600px) {
//
//  .cat.choose .zone-section .block-region-headerimage{
//    height: 300px;
//  }
//}

//Why Choose DC CSS

.statistic-content{

  padding: 5%;
  background-color: #f2f2f2;
  height: 130px;

  .paragraph--type--statistics-wrapper h3{
    font-size: 60px;
    color: #E3A900;
    font-weight: 700;
  }

  .paragraph--type--statistics-wrapper{
    //font-size: 16px;
    font-weight: 700;
    color: #5D5D5D;
  }
}

//Why Choose DC Mobile CSS

@media only screen and (max-width: 600px) {

  .path-student-life .choose .statistic-content{

    height: 450px;
    text-align: center;

    .path-student-life .paragraph--type--statistics-wrapper{
      width: 50%;
      display: inline-block;
      float: left;
      margin-top: 2em;
    }

    .paragraph--type--statistics-wrapper h3{
      font-size: 35px;
    }

    .paragraph--type--statistics-wrapper {
      //font-size: 11px;
      padding: 5% 0;
    }
  }
}

@media only screen and (max-width: 600px) {

  .path-frontpage .block-region-homestats .statistic-content{

    height: 450px;
    text-align: center;

    .path-frontpage .paragraph--type--statistics-wrapper{
      width: 50%;
      display: inline-block;
      float: left;
      margin-top: 2em;
    }

    .paragraph--type--statistics-wrapper h3{
      font-size: 35px;
    }

    .paragraph--type--statistics-wrapper {
      //font-size: 11px;
      padding: 5% 0;
    }
  }
}

// Why Choose DC Tablet CSS

@media screen and (max-width: 975px) and (min-width: 600px) {

  .path-student-life .choose .statistic-content{

    height: 70px;

    .paragraph--type--statistics-wrapper h3{
      font-size: 35px;
    }

    .paragraph--type--statistics-wrapper {
      //font-size: 11px;
    }
  }
}

@media screen and (max-width: 975px) and (min-width: 600px) {

  .path-frontpage .block-region-homestats .statistic-content{

    height: 70px;

    .paragraph--type--statistics-wrapper h3{
      font-size: 35px;
    }

    .paragraph--type--statistics-wrapper {
      //font-size: 11px;
    }
  }
}

//Paragraph CSS
//@media screen and (min-width: 600px) {
  //.left-paragraph, .right-paragraph{
  //  margin-top: 2em;
  //  margin-bottom: 2em;
  //}

//  .left-paragraph p{
//    font-size: 16px;
//  }
//}
// Paragraph Tablet CSS

//@media screen and (max-width: 975px) and (min-width: 600px) {
//
//  .left-paragraph p{
//    font-size: 11px;
//  }
//}

//Paragraph Mobile CSS

@media only screen and (max-width: 600px) {

  .left-paragraph p{
    font-size: 11px;
  }

  .left-paragraph, {
    padding: 0 5%;
  }

  .right-paragraph, {
    padding: 0 5%;
  }
}

// Brendan CSS Starts Here

//Brendan - Admissions

.paragraph--type--page-introduction{
  margin-top: 1.15em;
  margin-bottom: 1.15em;
  padding: 2% 0;
}

.paragraph--type--linked-icons{
  background-color: #F2F2F2;
  //height: 20em;
}


.node_54 .paragraph--type--paragraph-statistic{



  @include breakpoint(640px) {
    width: 25% !important;
    float:left;
    padding: 0px 0px 50px 0px;
    flex: inherit !important;
    float:left;
    text-align: center;
    }
}

//Admissions Mobile CSS

@media only screen and (max-width: 600px) {

  .node_54 .paragraph--type--paragraph-statistic{
  //  width: 50%;
  //  padding: 25px 0;
  //}
  //.paragraph--type--linked-icons{
  //  height: 22.5em;

  display: flex !important;
  //justify-content: center !important;
  align-items: center !important;
  }
}
//Brendan - About Us

.path-about-us .paragraph--type--paragraph-statistic{
    width: 12%;
    flex: inherit !important;
    float:left;
    text-align: center;
    padding-left: 5%;
}

@media only screen and (max-width: 600px) {
  .path-about-us .paragraph--type--paragraph-statistic{
    width: 80%;
  }
}

.path-about-us .block-accreditations .block-icons{
     display: flex;
     padding-left: 6%;
     padding-right: 6%;

      div{
        width: 20%;

        div{
              width: 120px;
              height: 120px;
         }
     }
}

//.path-about-us .block-accreditations .block-icons div{
//     width: 20%;
//}
//
//.path-about-us .block-accreditations .block-icons div div{
//     width: 120px;
//     height: 120px;
//}

.path-about-us .zone-section .block-region-main .block.block-block-content.block-block-content9a926964-2fcd-47e3-ae00-d27d424e58b0{
    margin-top: 1.15em;
}

.path-about-us  .block.block-block-content.block-block-contentfb82da58-854d-4edc-9781-bce5b1f035f7{
    background-color: #F2F2F2;
    //height: 35em;
}

.path-about-us .block.block-block-content.block-block-content9787f3ed-e413-44bf-9825-1c0d6963ef1b .geolocation-formatter-map-wrapper{
    display: flex;
    flex: 33.33%;
}

.path-about-us .block.block-block-content.block-accreditations{
    margin-bottom: 3.15em;
}

//@media screen and (max-width: 1200px) and (min-width: 975px) {
//  .path-about-us  .block.block-block-content.block-block-contentfb82da58-854d-4edc-9781-bce5b1f035f7{
//      height: 25em;
//  }
//}
//
//@media screen and (max-width: 975px) and (min-width: 600px) {
//  .path-about-us  .block.block-block-content.block-block-contentfb82da58-854d-4edc-9781-bce5b1f035f7{
//      height: 30em;
//  }
//}

//About Mobile CSS

@media only screen and (max-width: 600px) {

  //.path-about-us .block.block-block-content.block-block-contentfb82da58-854d-4edc-9781-bce5b1f035f7 .paragraph.paragraph--type--paragraph-statistic.paragraph--view-mode--default{
   .paragraph--type--paragraph-statistic{

      width: inherit;
      float:none;
      text-align: inherit;
      padding-left: 20%;
      //margin-bottom: 2em;

  }

  .paragraph--type--paragraph-statistic {

    .stat-intro {
     margin-left: 10%;
    }
  }

  //.path-about-us .block-accreditations h2{
  //  padding-top: 26.5em;
  //}

  .path-frontpage, .path-about-us{

    .block-accreditations .block-icons {
      display: inline-block;
      padding-left: 19%;
      padding-right: 5%;
    }

    .block-accreditations .block-icons div{
      width: 50%;
      float: left;
    }
    
    .block-accreditations .block-icons div:last-of-type{
      margin-left: 25%;
    }

    .block-accreditations .block-icons .paragraph--type--paragraph-image{
      margin-left: 0!important;
    }

    .block-accreditations .block-icons .paragraph--type--paragraph-image div{
      margin-left: 0!important;
    }


    .block-accreditations .block-icons div div{
      width: 82px;
      height: 82px;
    }

    .block.block-block-content.block-accreditations{
      margin-bottom: 0em;
    }
  }

  //.path-about-us .block.block-block-content.block-block-contentfb82da58-854d-4edc-9781-bce5b1f035f7{
  //  height: 55em;
  //}
}
//Brendan - College Faculties

.paragraph.paragraph--type--icons-block-with-text.paragraph--view-mode--default{
  background-color: #F2F2F2;
}

.paragraph.paragraph--type--icons-block-with-text.paragraph--view-mode--default, .path-about-us .paragraph.paragraph--type--paragraph-statistic.paragraph--view-mode--default, .path-node.page-node-type-page .header-image, .path-node.page-node-type-page .paragraph.paragraph--type--linked-icons.paragraph--view-mode--default{
  margin: 0px;
}

//.paragraph.paragraph--type--icons-block-with-text.paragraph--view-mode--default .paragraph.paragraph--type--paragraph-statistic.paragraph--view-mode--default{
  .node_53 .paragraph--type--paragraph-statistic{
  width: 25% !important;
  flex: inherit !important;
  float:left;
  text-align: center;
  padding: 4%;

  .stat-content{
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 400;
  }
}

@media only screen and (max-width: 600px) {
  .node_53 .paragraph--type--paragraph-statistic{
    width: auto!important;
    padding: 4%;
    padding-left: 20%!important;
    display: flex!important;
    align-items: center!important;
  }
  .node_53 .icon {
    text-align: inherit!important;
  }
  .node_53 .icon img{
    width: 61px!important;
    height: 61px!important;
  }
  .node_53 .paragraph--type--paragraph-statistic .stat-content{
    //font-size: 11px;
    @include font-size($p-stat);
    font-weight: 400;
    width: 40%;
    margin-left: 10%;
    padding-left: 0;
  }

  .path-about-us .paragraph--type--paragraph-statistic{
    width: 75%;
    padding: 4%;
    padding-left: 20%!important;
    display: inline-block!important;
    align-items: center!important;
  }
  .path-about-us .icon {
    text-align: inherit!important;
  }
  .path-about-us .icon img{
    width: 61px!important;
    height: 61px!important;
  }
  .path-about-us .paragraph--type--paragraph-statistic .stat-content{
    font-size: 11px;
    font-weight: 400;
    width: 60%;
    margin-left: 30%;
    padding-left: 0;
  }
  .path-about-us .paragraph--type--paragraph-statistic .stat-content:first-of-type{
    margin-left: 3.5em;
  }
  .path-about-us .paragraph--type--paragraph-statistic .stat-intro{
    margin-left: 30%;
    font-weight: 700;
    margin-top: 5%;
  }

  .node_56 .paragraph--type--paragraph-statistic{
    width: 75%!important;
    margin: 1em 0!important;
    padding-left: 20%!important;
    display: inline-block!important;
    align-items: center!important;
  }
  .node_56 .icon {
    text-align: inherit!important;
  }
  .node_56 .icon img{
    width: 61px!important;
    height: 61px!important;
  }
  .node_56 .paragraph--type--paragraph-statistic .stat-content{
    //font-size: 11px;
    @include font-size($p-stat);
    font-weight: 400;
    width: 60%;
    margin-left: 30%;
    padding-left: 0;
  }
  .node_56 .paragraph--type--paragraph-statistic .stat-content:first-of-type{
    margin-left: 3.5em;
  }
  .node_56 .paragraph--type--paragraph-statistic .stat-intro{
    margin-left: 30%;
    font-weight: 700;
    margin-top: -18%;
  }
}

//.paragraph.paragraph--type--icons-block-with-text.paragraph--view-mode--default .paragraph.paragraph--type--paragraph-statistic.paragraph--view-mode--default .stat-content{
//  padding-left: 2%;
//  padding-right: 2%;
//}

// Brendan - Mobile College Faculties


@media only screen and (max-width: 600px) {

  .paragraph.paragraph--type--paragraph-statistic.paragraph--view-mode--default{
    display: inline-block;
    text-align: left !important;
  }

  .path-frontpage .paragraph.paragraph--type--paragraph-statistic.paragraph--view-mode--default {
    text-align: center !important;
  }

}

// Find a Course pagination

.block-views-blockfind-a-course-block-1, .block-views-blockfind-a-course-block-2, .block-views-blockfind-a-course-block-3, .block-views-blockfind-a-course-block-4, .block-views-blockfind-a-course-block-5, .block-views-blockfind-a-course-block-6, .block-views-blockfind-a-course-block-7, .block-views-blockfind-a-course-block-8, .block-views-blockfind-a-course-block-9, .block-views-blockfind-a-course-block-10{

  .block-table .pager .pager__item a{
    color: #5D5D5D;
  }

  .block-table .pager .pager__item--first{
    display: none!important;
  }

  .block-table .pager .pager__item--last{
    display: none!important;
  }

  .block-table .pager .btn-red{
    padding: 0;
    background-color: #FFF;
  }

  .block-table .pager .btn-red a{
    color: $dc-blue!important;
    background-color: #FFF!important;
  }

  .block-table .pager .btn-blue{
    padding: 0;
    background-color: #FFF;
    border-bottom: none;
  }

  .block-table .pager .btn-blue a{
    color: $dc-blue!important;
    background-color: #FFF!important;
  }

  .block-table .js-pager__items{
    float: left;
    margin-left: 0!important;
  }
}

.pager .is-active a{
  background-color: $dc-blue!important;
  color: $white !important;
  padding: 4px 8px;
}

#views-exposed-form-find-a-course-block-1 .form-checkboxes label{
  padding-left: 1em;
  color: #6D6E71;
}

#views-exposed-form-find-a-course-block-1 .js-form-item{
  padding: 10px 20px;
}

#views-exposed-form-find-a-course-block-1 .form-checkboxes .form-checkbox{
  background-color: $white;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #979797;
}

//.menu-item--active-trail a{
.menu-item .is-active{
  color: #3366FF !important;
  border-bottom: 2px solid #3366FF;
}


@media screen and (max-width: 975px) and (min-width: 600px) {
  #views-exposed-form-find-a-course-block-1 .js-form-item{
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 600px) {
  #views-exposed-form-find-a-course-block-1 summary{
    //font-size: 11px;
    @include font-size($p-stat);
    padding: 1em 1.5em!important;
  }

  #views-exposed-form-find-a-course-block-1 .filter-trigger{
    //font-size: 11px;
        @include font-size($p-stat);
  }

  #views-exposed-form-find-a-course-block-1 .form-checkboxes label{
    //font-size: 11px;
        @include font-size($p-stat);
  }
}

.block-views-blockcourses-view-block-14 .price-element:nth-child(1) span{
    position: relative;
    top: 8.5em;
    color: #5D5D5D;
}

.block-views-blockcourses-view-block-14 .price-element:nth-child(2) span{
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .block-views-blockcourses-view-block-14 .price-element:nth-child(1) span{
      top: 8em;
      //font-size: 11px;
          @include font-size($p-stat);
  }
  .block-views-blockcourses-view-block-14 div .field-content{
    top: 6.5em;
  }
}

@media only screen and (max-width: 600px) {

  .block-views-blockcourses-view-block-14 .price-element:nth-child(1) span{
      top: 8em;
      //font-size: 11px;
          @include font-size($p-stat);
  }
  .block-views-blockcourses-view-block-14 div .field-content{
    top: 6em;
  }

  .page-node-type-course .cat.choose .zone-section .block-region-headerimage{
    height: 200px;
  }
}

.block-views-blockcourses-view-block-4 div{
  padding: 2.5px 0px;
}

.block-views-blockcourses-view-block-4 div{
  padding: 2.5px 0px;
}

.block-views-blockcourses-view-course-prices-view {
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .block-views-blockcourses-view-course-prices-view {
    margin-bottom: 0em;
  }
}


.become .col-sm-12 h3 {
  font-size: 30px;
}

@media only screen and (max-width: 975px) {
  .become .col-sm-12 h3 {
    font-size: 20px;
  }
}

.block-views-blockcourses-view-block-9, .block-views-blockcourses-view-block-10 h2 {
  padding-bottom: 5px;
}

//Filter Button Fix
.block-links .block-content .link a{
  border: 1px solid #D4D1D1;
}

//Student Service Mobile Fix
@media only screen and (max-width: 600px) {
 .col-sm-6 {
   padding: 2% 5%;
 }
 .col-sm-6 p{

 }
 .col-sm-6 img{

 }
 .news-intro {
   padding: 0 5%;
 }
}

.node_53 .col-sm-6{
  padding-bottom: 5%;
}

.path-about-us .stat-intro{
  font-weight: 700;
}

.path-about-us .stat-content{
  font-weight: 400;
}

.node_344, .node_54, .node_56{
  article{
    padding-bottom: 5%;
  }
}

#views-exposed-form-find-a-course-block-1 .js-form-item-search{
  display: none;
}

.path-current-students, .path-student-life {
  .block-list-bg-img .block-content .block-list{
    display: block;
    margin: -20% 10% 0% 10%;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #section-footer{
    padding-top: 1.25em;
  }
}

@media only screen and (max-width: 975px) {
  .path-current-students, .path-student-life {
    .block-list-bg-img .block-content .block-list{
      margin: -35% 10% 0% 10%;
    }
  }
}

@media only screen and (max-width: 975px) {
  #zone-post-footer{
    display: none;
  }
}

#zone-post-footer{

  background-color: #14235D!important;

  a:hover {
    opacity: 0.8;
  }

  .block-views-blockpost-footer-blocks-block-1, .block-views-blockpost-footer-blocks-block-2, .block-views-blockpost-footer-blocks-block-3 {
    display: inline-block;
    width: 33.3%;
    float: left;
    padding-bottom: 5%;

    h2{
    font-size: 20px;
    color: #fff;
    text-align: left;
    }
    .views-row {
      width: 85%;
      padding-bottom: 0.5em;
    }
  }

  .block-views-blockpost-footer-blocks-block-2, .block-views-blockpost-footer-blocks-block-4{
    background: #14235D!important;
  }

}

@media only screen and (min-width: 975px) {
  #zone-footer .region-footer .block-menu-footer{
    flex-basis: initial!important;
  }
  #zone-footer .col-xm-12 {
    width: 28.3%!important;
    float: left!important;
    margin-left: 0!important;
    margin-right: 5%;
  }
}

.js-form-item-field-type-of-course-target-id{
  display: none;
}

.path-find-a-course .block-views-exposed-filter-blockcourse-search-page-1{
  display: inline-block;
  z-index: 2;
}

//Update from here

@media only screen and (max-width: 600px) {
  .path-find-a-course, .path-frontpage {
    .block-views:not(:first-child){
      margin-top: 10rem;
    }
  }
  .path-find-a-course, .path-frontpage {
    .block-links {
      margin-top: 12rem;
    }
  }
  #zone-actionblocks .zone-section .block-region-homeactionblocks .block-list-bg-img:first-child .block-content .block-title{
    padding-top: 60px!important;
  }
  #zone-actionblocks .zone-section .block-region-homeactionblocks .block-list-bg-img:first-child .block-content .btn-link-white{
    top: 70%!important;
  }
}

//Update from Here

@media only screen and (max-width: 975px) {
  .header-image-update .hero-image img{
    width: inherit!important;
    height: 100%!important;
    margin-left: -100%;
    margin-right: -100%;
  }
}

@media only screen and (max-width: 600px) {

  .node_53, .node_56 {
    .header-image-update .hero-image img{
      height: 309px!important;
    }
  }
    .node_56 {
      .header-image-update .hero-image img{
        margin-left: -40%!important;
      }
    }
}

.region-postfooter{
  border-top: 2px solid #fff;
}

@media screen and (max-width: 599px) and (min-width: 400px) {
  .path-frontpage .block-region-homestats .statistic-content {
    height: 500px
  }
}

@media only screen and (max-width: 600px) {
  #section-footer{
    padding-top: 1.25em;
  }
}

@media screen and (max-width: 599px) and (min-width: 400px) {
  .path-student-life .choose .statistic-content{
    height: 500px;
  }
}


.block-views-blockcourses-view-block-4 a{
  font-weight: 400;
}

@media only screen and (min-width: 600px) { 
// FONT UPDATE
   a,
   .views-label,
  .field-content,
  .field-content a,
  .block-views-blockcourses-view-block-7 .list-element,
  .block-views-blocknews-events-block-1 .views-row .views-field-title .field-content a,    .block-views-blocknews-events-block-1 .views-row .views-field,
  .block-views-blocknews-events-block-1 .views-row .views-field-body .field-content a,
  .block-views-blocknews-events-block-1 .views-row .views-field-body .field-content p,
  .modtitle,
  .modstat,
  .modsemester,
  .modcred,
  .modindc ul li,
  .modass,
  .paragraph--type--statistics-wrapper,
  .left-paragraph p,
  .right-paragraph p,
  .block-content p,
  .stat-intro,
  #zone-footer,
  p,
  .block-region-headerimage .views-exposed-form input, 
  .block-links,
  #zone-actionblocks,
  .link a
  .field-content p,
  .views-exposed-form,
  .stat-content,
  { 
    font-size: 16px;
    line-height: 1.68;
  //@include font-size($p-default);  
  }
}
 
@media only screen and (max-width: 600px) { 
   a,
   .views-label,
  .field-content,
  .field-content a,
  .block-views-blockcourses-view-block-7 .list-element,
  .block-views-blocknews-events-block-1 .views-row .views-field-title .field-content a,    .block-views-blocknews-events-block-1 .views-row .views-field,
  .block-views-blocknews-events-block-1 .views-row .views-field-body .field-content a,
  .block-views-blocknews-events-block-1 .views-row .views-field-body .field-content p,
  .modtitle,
  .modstat,
  .modsemester,
  .modcred,
  .modindc ul li,
  .modass,
  .paragraph--type--statistics-wrapper,
  .left-paragraph p,
  .right-paragraph p,
  .block-content p,
  .stat-intro,
  #zone-footer,
  p,
  .block-region-headerimage .views-exposed-form input, 
  .block-links,
  #zone-actionblocks,
  .link a
  .field-content p,
  .views-exposed-form,
  .stat-content,
  {
    font-size: 11px;
    line-height: 1.63;
  }
}