#block-blockfootersocialmedia-2 {
  @include grid-column(12);
  margin-top: $sm-block-margin;

  .sm-facebook,
  .sm-google,
  .sm-linkedin,
  .sm-twitter {
    display: inline-block;
    margin: $sm-icon-margin;

    &:first-child {
      margin: 0;
      
    }
    a {
      width: $icon-size;
      height: $icon-size;
      float: left;
      color: $white;
      font-size: 0;
      
    }
  }
}