<div class="form-content">
  <div class="form-title">
    <h2>Application</h2>
  </div>
  <!-- Course Select Box -->
  <div class="form-fields">

    <!-- Select Course -->
    <div class="form-row">
      <div class="form-opt">
        <select ng-model="user.course" name="course" ng-options="course.nid as course.title group by course.faculty for course in products | unique: 'title'" ng-change="courseDelivery(user.course)" required>
           <option value="">Choose your Course</option>
        </select>
      </div>
      <div ng-messages="bookingStepForm.course.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">Please choose a Course.</div>
      </div>
    </div>

    <!-- Select delivery Type -->
    <div class="form-row" ng-if="user.course">
      <div class="form-opt">
        <select ng-model="user.delivery_mode" name="coursedelivery" ng-options="delivery.delivery_mode as delivery.delivery_mode for delivery in deliveryTypes | unique: 'delivery_mode'" ng-change="" required>
           <option value="">Choose Course Mode</option>
        </select>
      </div>
      <div ng-messages="bookingStepForm.course.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">Please choose a Course.</div>
      </div>
    </div>

    <!-- Email input -->
    <div class="form-row" ng-if="user.delivery_mode">
      <div class="form-opt">
        <input type="email" name="email" ng-model="user.email" required>
      </div>
    </div>
    
  </div>
</div>
