<div class="form-content">
  <div class="form-title">
    <h2>Application</h2>
  </div>
  <!-- product Select Box -->
  <div class="form-fields">

    <!-- product display -->
    <div ng-if="user.productnid">
        <h1>{{ user.productname }}</h1>
    </div>

    <!-- Select product -->
    <div class="form-row" ng-show="showProductSel">
      <div class="form-opt">
        <select ng-model="user.productnid" name="product" ng-options="product.nid as product.title group by product.faculty for product in products | unique: 'title'" ng-change="productIsolate(user.productnid)" required>
           <option value="">Choose your product</option>
        </select>
      </div>
      <div ng-messages="bookingStepForm.product.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">Please choose a product</div>
      </div>
    </div>

    <!-- Select delivery Type -->
    <div class="form-row" ng-if="user.productnid">
      <div class="form-opt">
        <select ng-model="user.deliverymode" name="productdelivery" ng-options="delivery.delivery_mode as delivery.delivery_mode for delivery in productData | unique: 'delivery_mode'" ng-change="" required>
           <option value="">Choose product Mode</option>
        </select>
      </div>
      <div ng-messages="bookingStepForm.productdelivery.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">Please choose a product Mode</div>
      </div>
    </div>

    <!-- Email input -->
    <div class="form-row" ng-if="user.deliverymode">
      <div class="form-opt">
        <input type="email" name="email" ng-model="user.email" placeholder="Your Email" required>
      </div>
      <div ng-messages="bookingStepForm.email.$error" ng-if="formStepSubmitted" class="error-msg">
          <div ng-message="required">Please choose a product Mode</div>
      </div>
    </div>

    <!-- Proceed Button -->
    <div class="bookingform-btn">
        <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Proceed</a>
    </div>
  </div>
</div>
