<div class="form-content">
    <div class="form-title">
        <h2>Application</h2>
        <div>
        <h1>{{ user.productname }}</h1>
        </div>
    </div>
    <!-- Course Select Box -->
    <div class="form-fields">
        <h3>Step 2: Required Documents</h3>
        <div class="form-row">
            <div class="form-opt" ng-repeat="product in productData">
                <div>
                    <div>
                        <span>{{ $index + 1 }}. {{ product.document }}</span><button type="file" name="docs{{$index}}" ng-model="user.docs[$index]" ngf-select ngf-change="docSize(user.docs[$index], $index)" required>Upload</button>
                    </div>
                    <ul ng-show="user.docs[$index]">
                        <li>{{ user.docs[$index].name }}</li>
                    </ul>
                    <div ng-click="user.docs[$index] = null" ng-show="user.docs[$index]">Delete</div>
                    <i ng-show="maxSize[$index]">File is too large, max 5Mb</i>
                    <div ng-messages="bookingStepForm['docs' + $index].$error" ng-if="formStepSubmitted" class="error-msg">
                        <div ng-message="required">This document is required.</div>
                    </div>
                </div>
            </div>  
        </div> 
    </div>
        <!-- Proceed Button -->
        <div class="bookingform-btn">
            <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Back</a>
            <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)"href="">Continue</a>
        </div>
    </div>
</div>