<div class="form-content">
    <div class="form-title">
        <h2>Application</h2>
        <div>
        <h1>{{ user.productName }}</h1>
        {{ productData }}
        </div>
    </div>
    <!-- Course Select Box -->
    <div class="form-fields">
        <h3>Step 2: Required Documents</h3>
        <div class="form-opt" ng-repeat="product in productData">
            <div>
                <div>{{ product.document }}</div>
                <input name="{[ product.document }}" type="file">
            </div>
        </div>  
    </div>
        <!-- Proceed Button -->
        <div class="bookingform-btn">
            <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Back</a>
            <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Continue</a>
        </div>
    </div>
</div>
      