<div class="form-content">
    <div class="form-title">
        <h2>Application</h2>
        <div>
        <h1>{{ user.productName }}</h1>
        </div>
    </div>
    <!-- Course Select Box -->
    <div class="form-fields">
        <h3>Step 2: Required Documents</h3>
        <div class="form-opt" ng-repeat="product in productData">
            <div>
                <div>{{ $index + 1 }}. {{ product.document }}</div>
                <button type="button" ng-model="docs[$index]" ngf-select ngf-max-size="2MB">Upload</button>
                <div ngf-drop>Remove</div>
            </div>
        </div>  
        {{ docs }}
    </div>
        <!-- Proceed Button -->
        <div class="bookingform-btn">
            <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Back</a>
            <a class="booking-next" ng-click="uploadDocs()" href="">Continue</a>
        </div>
    </div>
</div>
      