<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
</head>
<body>
  <div class = "col-sm-6">
  <div class="form-content">
    <div class="form-title">
      <h2>Online Application</h2>
      <div>
          <h1>{{ user.productname }}<div ng-if="productData[0].application_type == '60'">{{ ': ' + user.deliveryname }}</div></h1>
      </div>
    </div>
    <div class="form-progression">
      <h3>Step 2: Fees & Deposit</h3>
      <div class="form-step marked"></div>
      <span class="form-step-line"></span>
      <div class="form-step marked"></div>
      <span class="form-step-line"></span>
      <div class="form-step"></div>
    </div>
    <div class="form-fields">
      <div class="form-wrapper">
        <h4>Choose A Payment Option:</h4>
        <div class="form-row">
          <div class="form-opt form-radio">
              <label ng-if="productPrices[0].full_amount">
                <p>Full Amount:</p>
                <input type="radio" name="paymentchoice" value="full_amount" value="full_amount" ng-model="user.payment.type_id" ng-click="scopePrices(user.payment.type_id)" checked="checked"
                required /> € {{ productPrices[0].full_amount }}
              </label>
              <label ng-if="productPrices[0].deposit">
                <p>Deposit:</p>
                <input type="radio" name="paymentchoice" value="deposit" value="deposit" ng-model="user.payment.type_id" ng-click="scopePrices(user.payment.type_id)"
                required /> € {{ productPrices[0].deposit }}
              </label>
            </div>
            <div ng-messages="bookingStepForm.paymentchoice.$error" ng-if="formStepSubmitted" class="error-msg">
              <div ng-message="required">Payment Choice is required.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-wrapper cardpay">
        <h4>Enter Your Card Details</h4>
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="payment.card.number" ng-change="ccEncode(payment.card.number)" name="card_number" ng-attr-placeholder="Card Number"
              autocomplete="off" minlength="15" maxlength="19" ng-pattern="/^[0-9]*$/" required>
            <div ng-messages="bookingStepForm.card_number.$error" ng-if="formStepSubmitted" class="error-msg">
              <div ng-message="required">Card number is required for payment.</div>
              <div ng-message="minlength">Card number must be 15-19 digits.</div>
              <div ng-message="maxlength">Card number must be 15-19 digits.</div>
              <div ng-message="pattern">Card number must only contain digits.</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-opt">
            <select ng-model="payment.card.month" name="card_month" ng-change="cardExp(payment.card.month, payment.card.year)" required>
              <option value="">Month</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="form-opt">
            <select ng-model="payment.card.year" name="card_year" ng-change="cardExp(payment.card.month, payment.card.year)" convert-to-number required>
              <option value="">Year</option>
              <option ng-repeat="year in years" ng-value="year">{{ year }}</option>
            </select>
          </div>
          <div ng-messages="bookingStepForm.card_month.$error" ng-if="formStepSubmitted" class="error-msg">
            <div ng-message="required">Card Expiration date is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="payment.card.cvc" ng-attr-placeholder="CVC" name="cardCVC" minlength="3" maxlength="4" required>
            <div ng-messages="bookingStepForm.cardCVC.$error" ng-if="formStepSubmitted" class="error-msg">
              <div ng-message="required">CVC number is required for payment.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-wrapper">
        <div class="form-row">
          <input type="checkbox" ng-change="billingAddress()" ng-model="user.billingaddress.billingcontact" name="billingcontact" ng-true-value="true"
            ng-false-value="false" ng-checked="user.billingaddress.billingcontact">
          <label>Use Contact Address as Billing Address</label>
        </div>
      </div>
      <div class="form-wrapper" ng-if="user.billingaddress.billingcontact == false">
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="user.billingaddress.address1" ng-attr-placeholder="Address 1" required>
          </div>
          <div ng-messages="bookingStepForm.address1.$error" ng-if="formStepSubmitted" class="error-msg">
            <div ng-message="required">The field is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="user.billingaddress.address2" ng-attr-placeholder="Address 2" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="user.billingaddress.county" ng-attr-placeholder="State / Province / County " required>
          </div>
          <div ng-messages="bookingStepForm.county.$error" ng-if="formStepSubmitted" class="error-msg">
            <div ng-message="required">The field State / Province / County is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="user.billingaddress.country" ng-attr-placeholder="Country" required>
          </div>
          <div ng-messages="bookingStepForm.country.$error" ng-if="formStepSubmitted" class="error-msg">
            <div ng-message="required">The field Country is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="user.billingaddress.city" ng-attr-placeholder="City" required>
          </div>
          <div ng-messages="bookingStepForm.city.$error" ng-if="formStepSubmitted" class="error-msg">
            <div ng-message="required">The field City is required.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-opt">
            <input type="text" ng-model="user.billingaddress.postalcode" ng-attr-placeholder="Postal Code" required>
          </div>
          <div ng-messages="bookingStepForm.postalcode.$error" ng-if="formStepSubmitted" class="error-msg">
            <div ng-message="required">The field Postal Code is required.</div>
          </div>
        </div>
      </div>
    <div class = "button-form-footer">
      <div class="bookingform-btn fixw">
        <a class="btn-back" ng-click="goToPreviousSection()" href="">Back</a>
      </div>
      <div class="bookingform-btn fixw">
        <a class="btn-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Next</a>
      </div>
      </div>
    </div>
  </div> 
  <div class="col-sm-6">
    <div class = "form-content summary-panel">
      <div class="form-fields">
        <h3>Summary</h3>
        <div class="form-wrapper">
          <div class="form-row">
            <h4>Pre-application</h4>
            <div class="form-opt">
              <label>Course Title:</label>
              <div>{{ user.productname }}</div>
            </div>
            <div class="form-opt">
              <label>Course Mode:</label>
              <div>{{ user.deliveryname }}</div>
            </div>
            <div class="form-opt">
              <label>Email:</label>
              <div>{{ user.email }}</div>
            </div>
          </div>
          <div>
            <a href="" ng-model="target" value="customer-details" ng-click="goToSection('bookingForm')">Edit</a>
          </div>
        </div>
        <div class="form-wrapper">
          <div class="form-row">
            <h4>Personal Information</h4>
            <div class="form-opt">
              <label>Name:</label>
              <div>{{ user.firstname + ' ' + user.lastname }}</div>
            </div>
            <div class="form-opt">
              <label>DOB:</label>
              <div>{{ user.dob | date:'dd/MM/yyyy' }}</div>
            </div>
            <div class="form-opt">
              <label>Gender:</label>
              <div>{{ user.gender }}</div>
            </div>
            <h4>Contact Address</h4>
            <div class="form-opt address">
              <div>{{ user.contactaddress.address1 }}</div>
              <div>{{ user.contactaddress.address2 }}</div>
              <div>{{ user.contactaddress.county }}</div>
              <div>{{ user.contactaddress.country }}</div>
            </div>
          </div>
          <div>
            <a href="" ng-model="target" value="customer-details" ng-click="goToSection('customer-details')">Edit</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>
