<div class="form-content">
    <div class="form-title">
        <h2>Application</h2>
        <div>
            <h1>{{ user.productname }}</h1>
            {{ user }}
        </div>
    </div>
    <div class="form-fields">
        <h3>Step {{ step }}: Fees & Deposit</h3>
        <div class="form-wrapper">
            <div class="form-row">
                <div class="form-opt">
                    <label>
                        <input type="radio" name="paymentchoice" value="full" id="paymentfull"> Course Fees
                    </label>
                    <label>
                        <input type="radio" name="paymentchoice" value="deposit" id="paymentdeposit"> Course Deposit
                    </label>
                </div>
            </div>
        </div>
        <div class="form-wrapper">
            <h4>Enter Your Card Details</h4>
            <div class="form-row">
                <div class="form-opt">
                    <input ng-model="payment.card.number" placeholder="Card Number" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-opt">
                    <input ng-model="payment.card.exp" placeholder="dd/yyyy" required>
                </div>
                <div class="form-opt">
                    <input ng-model="payment.card.cvc" placeholder="CVC" required>
                </div>
            </div>
        </div> 

    </div>

    <!-- Proceed Button -->
    <div class="bookingform-btn">
        <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Back</a>
        <a class="booking-next" ng-click="charge()" href="">Continue</a>
    </div>
</div>