<div class="form-content">
  <div class="form-title">
    <h2><strong>Step 3/3:</strong><br /> Review your booking details</h2>
  </div>
  <h3>Course, Accommodation & Flight Details</h3>
  <div class="form-fields">
    <div class="form-row" ng-show="user.course">
      <label>Course</label>
      <span class="form-opt blue-txt">{{ user.course }}</span>
    </div>
    <div class="form-row" ng-show="user.courseDate">
      <label>Course Start Date</label>
      <span class="form-opt blue-txt">{{ user.courseDate | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div class="form-row" ng-show="user.courseWeeks">
      <label>Course Duration</label>
      <span class="form-opt blue-txt">{{ user.courseWeeks }}</span>
    </div>
    <div class="form-row" ng-show="user.accommodation">
      <label>Accommodation Type</label>
      <span class="form-opt blue-txt">{{ user.accommodation }}</span>
    </div>
    <div class="form-row" ng-show="user.accommDate">
      <label>Accommodation Start Date</label>
      <span class="form-opt blue-txt">{{ user.accommDate | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div class="form-row" ng-show="user.accommWeeks">
      <label>Accommodation Duration</label>
      <span class="form-opt blue-txt">{{ user.accommWeeks }}</span>
    </div>
    <div class="form-row" ng-show="user.airportPick">
      <label>Airport Pick Up</label>
      <span class="form-opt blue-txt">{{ user.airportPick }}
    </div>
    <div class="form-row" ng-show="user.flightNumber">
      <label>Flight Number</label>
      <span class="form-opt blue-txt">{{ user.flightNumber }}</span>
    </div>
    <div class="form-row" ng-show="user.airportDate">
      <label>Arrival Date</label>
      <span class="form-opt blue-txt">{{ user.airportDate | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div class="form-row" ng-show="user.medicalInsu">
      <label>Required Medica Insurance</label>
      <span class="form-opt blue-txt">{{ user.medicalInsu }}</span>
    </div>
  </div>
  <h3>Student Details</h3>
  <div class="form-fields">
    <div class="form-row" ng-show="user.firstName">
      <label>Full Name</label>
      <span class="form-opt blue-txt">{{ user.firstName }} {{ user.lastName }}</span>
    </div>
    <div class="form-row" ng-show="user.gender">
      <label>Gender</label>
      <span class="form-opt blue-txt">{{ user.gender }}</span>
    </div>
    <div class="form-row" ng-show="user.DOB">
      <label>Date of Birth</label>
      <span class="form-opt blue-txt">{{ user.DOB | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div class="form-row" ng-show="user.nationality">
      <label>Nationality</label>
      <span class="form-opt blue-txt">{{ user.nationality }}</span>
    </div>
    <div class="form-row" ng-show="user.email">
      <label>Email Address</label>
      <span class="form-opt blue-txt">{{ user.email }}</span>
    </div>
    <div class="form-row" ng-show="user.phone">
      <label>Phone Number</label>
      <span class="form-opt blue-txt">{{ user.phone }}<span>
    </div>
  </div>
  <h3>Pricing</h3>
  <div class="form-fields">
    <div class="form-row" ng-show="user.course">
      <label>Course</label>
      <span class="form-opt blue-txt">{{ user.items.coursePrice }}</span>
    </div>
    <div class="form-row" ng-repeat="fee in fees" ng-show="user.course">
      <label>{{ fee.product_id }}</label>
      <span class="form-opt blue-txt">{{ fee.price__number }}</span>
    </div>
    <div class="form-row" ng-show="user.accommodation">
      <label>Accommodation</label>
      <span class="form-opt blue-txt">{{ user.items.accommPrice }}</span>
    </div>
    <div class="form-row" ng-show="user.airportPick">
      <label>Airport Pick Up</label>
      <span class="form-opt blue-txt">{{ user.items.airportPrice }}</span>
    </div>
    <div class="form-row" ng-show="user.medicalInsu">
      <label>Medical Insurance</label>
      <span class="form-opt blue-txt">{{ user.items.medPrice }}</span>
    </div>
    <div class="form-row" ng-show="user.bookingTotal">
      <label> Total Amount to be paid:</label>
      <span class="form-opt blue-txt">{{ user.bookingTotal | currency:"&euro;" }}</span>
    </div>
  </div>
  <h3>Payment Methods</h3>
  <div class="pricebox">
    <div class="pricebox-title">
      <h4>Bank Transfer</h4>
    </div>
    <div class="pricebox-content">
      <label>If you choose Bank Transfer as payment method, we will send you the invoice with the bank transfer details.</label>
      <p>Total amount due: <strong>{{ user.bookingTotal | currency:"&euro;" }}</strong></p>
    </div>
    <div class="terms-box">
      <input type="checkbox" value="Yes" name="termsconditions" ng-model="user.termsconditions" required />
      <label>I have read and agree to the <a href="https://english.dorset-college.ie/terms-conditions" target="_blank">Terms & Conditions.</a></label>
      <div ng-messages="bookingStepForm.termsconditions.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">This field is required to proceed.</div>
      </div>
    </div>
    <div class="payment-btn">
        <a class="booking-next" ng-click="payType(1);goToNextSection(bookingStepForm.$valid)" href="">Pay by Bank Transfer<span class="right-arrow"></a>
    </div>
    <!--
    <div class="payment-btn">
        <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Pay by Bank Transfer<span class="right-arrow"></a>
    </div>
  -->
  </div>
  </div>
  <div class="bookingform-btn">
    <a class="booking-prev"  ui-sref="bookingSummary.bookingDetails"><span class="left-arrow"></span>Previous</a>
  </div>
</div>
