<div class="form-content">
    <div class="form-title">
      <h2>Online Application</h2>
    </div>
    <!-- Course Select Box -->
    <div class="form-fields">
        <!-- Course display -->
        <div ng-if="user.productnid">
            <h1>{{ user.productname }}<span ng-if="productData[0].application_type == '60'">{{ ': ' + user.deliveryname }}</span></h1>
        </div>
        <div>
            <h2>What you may need</h2>
        </div>
        <ul>
            <div ng-repeat="step in steps">
                <h3>{{ $index + 1 }}. {{ step.title }}</h3>
                <p>{{ step.description }}</p>
            </div>    
        </ul>
        <!-- Proceed Button -->
        <div class="bookingform-btn">
          <a class="btn-back" ng-click="goToPreviousSection()" href="">Back</a>
        </div>
        <div class="bookingform-btn">
            <a class="btn-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Start</a>
        </div>
    </div>
  </div>
  