<div class="form-content">
    <div class="form-title">
      <h2>Application - Application</h2>
    </div>
    <!-- Course Select Box -->
    <div class="form-fields">
        {{ productData }}
      <!-- Course display -->
        <div ng-if="user.productnid">
            <h1>{{ user.productName }}</h1>
        </div>
        <div>
            <h2>What you may need</h2>
        </div>
        <ul>
            <li>
                <h3>Step 1</h3>
                <div>Personal Details</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li ng-if="productData.document">
                <h3>Step 2</h3>
                <div>Required Documents</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
                <h3>Step 3</h3>
                <div>Deposit Payment</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li>
                <h3>Step 4</h3>
                <div>Completion!</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
        </ul>
        <!-- Proceed Button -->
        <div class="bookingform-btn">
            <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Start</a>
        </div>
    </div>
  </div>
  