<div class="form-content">
  <div class="form-title">
    <h2><strong>Step 2/3:</strong><br /> Student Details</h2>
  </div>
  <div class="form-fields">
    <div class="form-row">
      <label class="form-required">First Name</label>
      <div class="form-opt">
        <input type="text" name="firstname" ng-model="user.firstName" required>
      </div>
      <div ng-messages="bookingStepForm.firstname.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">The field is required.</div>
      </div>
    </div>
    <div class="form-row">
      <label class="form-required">Last Name</label>
      <div class="form-opt">
        <input type="text" name="lastname" ng-model="user.lastName" required>
      </div>
      <div ng-messages="bookingStepForm.lastname.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">This field is required.</div>
      </div>
    </div>
    <div class="form-row">
      <label class="form-required">Gender</label>
      <div class="form-opt">
        <div class="radio-wrap">
          <div>
            <input type="radio" ng-model="user.gender" name="gender" value="male" required>
            <label for="male">Male</label>
          </div>
          <div>
            <input type="radio" ng-model="user.gender" name="gender" value="female" required>
            <label for="female">Female</label>
          </div>
        </div>
      </div>
      <div ng-messages="bookingStepForm.gender.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">This field is required.</div>
      </div>
    </div>
    <div class="form-row">
      <label class="form-required">Date of Birth</label>
      <div class="form-opt">
        <md-datepicker name="dateDOB" ng-model="user.DOB" md-placeholder="dd/mm/yyyy" required></md-datepicker>
      </div>
      <div ng-messages="bookingStepForm.dateDOB.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">This field is required.</div>
      </div>
    </div>
    <div class="form-row">
      <label class="form-required">Nationality</label>
      <div class="form-opt">
        <select ng-options="country.name as country.name for country in countries" name="nationality" ng-model="user.nationality" required>
          <option value="" selected>Choose your Nationality</option>
        </select>
      </div>
      <div ng-messages="bookingStepForm.nationality.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">This field is required.</div>
      </div>
    </div>
    <div class="form-row">
      <label class="form-required">Email Address</label>
      <div class="form-opt">
        <input type="email" name="email" ng-model="user.email" required>
      </div>
      <div ng-messages="bookingStepForm.email.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">This field is required.</div>
        <div ng-message="email">Invalid email address.</div>
      </div>
    </div>
    <div class="form-row">
      <label>Please confirm Email Address</label>
      <div class="form-opt">
        <input type="text" ng-model="user.email">
      </div>
    </div>
    <div class="form-row">
      <label>Phone Number</label>
      <div class="form-opt">
        <input type="number" name="phonenumber" ng-model="user.phonenumber" required>
      </div>
      <div ng-messages="bookingStepForm.phonenumber.$error" ng-if="formStepSubmitted" class="error-msg">
        <div ng-message="required">This field is required.</div>
      </div>
    </div>
    <div class="bookingform-btn">
      <a class="booking-prev" ui-sref="bookingSummary.bookingForm"><span class="left-arrow"></span>Previous</a>
      <a class="booking-next" ng-click="goToNextSection(bookingStepForm.$valid)" href="">Next<span class="right-arrow"></span></a>
    </div>
  </div>
</div>
