<div class="form-content">
  <div class="form-title">
    <h2>Application</h2>
  </div>
  <div class="form-fields">
    <h3>Thanks you for your Application</h3>
    <ul>
      <div ng-if="productData[0].application_type == 60">
        <span>We have received your payment and we will send you a confirmation email with all the details for your application.</span>
      </div>
      <div ng-if="productData[0].application_type == 61">
        <span>You will receive and confirmation email with all the details for your application.</span>
      </div>
    </ul>
  </div>
</div>