
// Form Styling

//.path-apply-now #zone-main {
//  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+61,7db9e8+100 */
//background: #1e5799; /* Old browsers */
//background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 61%, #7db9e8 100%); /* FF3.6-15 */
//background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 61%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
//background: linear-gradient(to bottom, #1e5799 0%,#2989d8 61%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
//}

.path-apply-now .form-title h2{
  text-align: left;
  padding: 25px 0 !important;
}

//.path-apply-now .form-row {
//  float: left;
//}

.path-apply-now .form-fields {
  display: inline-block;
  margin-top: .5em;
}

.path-apply-now .form-fields .ng-binding{
  //color: #5D5D5D;
  font-size: 16px;
  padding-bottom: 1em;
  
}

.path-apply-now .form-fields .form-row{
  float: left;
  padding-bottom: 1em;
  width: 100%;
}

.path-apply-now .form-fields h2{
  padding: 0 0 25px;
}

.path-apply-now .form-fields .form-row .ng-scope{
  position: relative;
}

.block-bookingform{
  width: 50%;
  float: left;
  //background-color: #FFF;
  margin: 0 2em;
  transition: all .6s ease-in-out;
  display: block;
}

.block-bookingform{
  h1, h2, h3, h4, p, a, div, li {
    color: #fff;
  }
  input, select{
    border-radius: 5px;
    font-family: Lato;
  }
}

.path-apply-now .block-bookingform-block {

  //.ng-scope{
  //  float: left;
  //  width: 90%;
  //  margin-left: 3.5%;
  //}

  .ng-scope h1{
    font-size: 30px;
    padding: .5em 0!important;
  }

  //.ng-binding{
  //color: #5D5D5D;
  //}
}

//.path-apply-now .form-content {
//
//  .btn-cancel {
//    color: #FFF;
//      position: relative;
//      background-color: #F14950;
//      border-radius: 60px;
//      padding: 10px 15px;
//      float:left;
//      margin-top: 1.2em;
//      margin-bottom: 1.2em;
//  }
//
//  .btn-next {
//    color: #FFF;
//      position: relative;
//      background-color: #36F;
//      border-radius: 60px;
//      padding: 10px 15px;
//      float: left;
//      margin-top: 1.2em;
//      margin-bottom: 1.2em;
//  }
//}

.error-msg{
  padding-top: .25em;
  margin-left: 0 !important;
  color: $dc-red;
}

.error-msg div{
  color: $dc-red!important;
}

.path-apply-now .form-fields .form-wrapper h4{
  padding: .5em 0 1em;
}

#bookingform .form-opt{
  position: relative;
  padding: 1% 0;
}

#bookingform .form-opt{
  position: relative;
}

#bookingform .form-opt input{
  width: 95%;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid #757575;
}

#bookingform .form-opt input:focus{
  outline: none;
}

#bookingform .form-content{
  width: 100%;
}

#bookingform .form-fields h2{
  float: left;
}

#bookingform .form-opt input::placeholder{
  font-size: 16px;
  pointer-events: none;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#bookingform .form-opt input:focus::placeholder{
  display: none;
}

#bookingform .form-opt input:focus{
  border-bottom: 2px solid #757575;
}

#bookingform .form-opt select{
  background-color: #FAFAFA;
  height: 40px;
  width: 92.75%;
}

.btn-next, .btn-back, .btn-cancel {
    color: #FFF;
    border-radius: 60px;
    padding: 10px 15px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    position: relative;
    float: left;
    background-color: $dc-red;
}

.btn-next{
  background-color: $dc-blue;
  padding: 10px 15px;
  min-width: 4em;
  text-align: center;
  margin-left: 2em;
}



.path-apply-now .bookingform-btn a{
  color: #FFF !important;
}

#bookingform .form-fields a {
  color: $dc-blue;
  //border-bottom: 1px solid;
}

#bookingform .form-fields h3 {
  //color: #5D5D5D;
}

.path-apply-now .bookingform-btn .btn-back{
  background-color: $dc-red;
  padding: 10px 15px;
  min-width: 4em;
  text-align: center;
  //margin-left: 5%;
}

.md-datepicker-input-container.md-datepicker-invalid{
  border-bottom: none;
}

.md-datepicker-input{
  background: #fff;
}


.form-opt button{
  float: right;
  height: 25px;
  border-radius: 25px;
  color: #FFF;
  background-color: #F14950;
  padding: 0px 12px;
  min-width: 4em;
  text-align: center;
  font-size: 16px;
  line-height: 1.68;
  font-weight: 700;
  font-family: Lato;
}

.form-upload button{
  border-radius: 25px;
  color: #FFF;
  background-color: #F14950;
  padding: 10px 15px;
  //min-width: 4em;
  text-align: center;
  font-size: 16px;
  line-height: 1.68;
  font-weight: 700;
  font-family: Lato;
  border: 0;
  margin: 1em;
}



.thankicon {
  background-size: 120px 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: 30%;
  padding: 5% 0;
  height: 120px;
  width: 120px;
}

.md-datepicker-triangle-button {
  display: none;
}

.md-datepicker-button {
  float: left!important;
  background-color: inherit!important;
  z-index: 2!important;
  width: 22.25em!important;
}

.md-datepicker-input-container {
  position: absolute;
  z-index: 1!important;
  margin-left: -23em!important;
}

@media only screen and (max-width: 600px) {

  .md-datepicker-button {
    width: 17.25em!important;
  }

  .md-datepicker-input-container {
    margin-left: -18em!important;
  }
}

.form-progression {
  position: relative;
  display: block;
  width: 90%;
  border-bottom: 1px solid #ddd;
  z-index: 1;
  margin: 1em 0;
}

.form-step {
  position: relative;
  top: 16px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #ddd;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  transition-delay: .3s;
  will-change: transform;
  margin-left: 20%;
  z-index: 2;
}

.form-step-line {

}

.marked {
  position: relative;
  top: 16px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: $dc-blue;
  border: 2px solid $dc-blue;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  transition-delay: .3s;
  will-change: transform;
  margin-left: 20%;
  z-index: 2;
  //background-color: #ddd;
}

.form-documents ul {
  padding-top: 1em;
}

.stepsov {
  margin-left: -4.5%!important;
  width: 100%!important;
}

.h1ng {
  margin-left: -3.5%!important;
}

.upbtn {
  padding-top: 1em;
  margin-left: -3.5%!important;
}

.button-form-footer{
  display: inline-flex;
}

.fixw {
  //width: 33.3%!important;
  margin-right: 2em;
}

.thx {
  padding-bottom: 2em;
}

.nomar {
  margin-left: 0!important;
}

.delete {
  color: #36F !important;
  width: 10.5%;
  display: inline-block;
  margin-left: 1em;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  //.form-progression h3 {
  //  font-size: 11px;
  //}
  .form-step, .marked {
    width: 12px;
    height: 12px;
    margin-left: 18%;
    top: 12px;
  }
}

.cardpay {

  padding: 1em 0;

  .form-row {
   display: contents;

 }

  .form-opt select {
   background-color: #FAFAFA;
   height: 40px;
   width: 15%;
 }

  .form-opt input {
   font-size: 16px;
   padding: 10px 10px 10px 5px;
   /* display: block; */
   width: 30%;
   border: none;
   border-bottom: 1px solid #757575;
 }

}

.path-apply-now .block-bookingform-block .ng-scope span {
   font-size: 16px;
   padding: .5em 0!important;
   margin-left: 0;
}


.block-bookingform{
  width: 100%;
  float: none;
}

.stepsov {
  clear: both;
}

.path-apply-now #zone-main {
    background-image: url('../file/420');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.form-content {
 
  margin: 1em 0;
  padding: 1em;
  display: inline-block;
  
}

.summary-panel{
  background: #fff;
  opacity: 0.8;
  h1, h2, h3, h4, p, div {
  color: #5D5D5D !important;
  }
}

.block-bookingform .col-sm-6{
  margin-left: 3.5%;
}

.btn-next{
  &:hover{
    background-color: #5C85FF;
  }
}

.btn-cancel, .btn-back, .form-upload button {
    &:hover{
      background-color: #F46E73;
      
  }
}

input[type="radio"] {
  margin: 1em 0;
  text-align: center;
}

.form-radio label{
  display: inline-block;
  margin-right: 2em;
}

.form-radio label:nth-of-type(2){
  border-left: 1px solid white;
  padding-left: 2em;
}

// Form Tablet

@media screen and (max-width: 975px) and (min-width: 600px) {

  .block-bookingform{
    width: 90%;
    margin: 5%;
  }
}

// Form Mobile

@media only screen and (max-width: 600px) {

  .block-bookingform, .col-sm-6, .form-content{

    margin: 0%;
  }
  
  .form-content{
    padding: 0;
  }
  
  .summary-panel .form-fields{
    padding: 1em;
  }
  
  .path-apply-now .form-title h2{
    text-align: center;
  }
  
  .form-progression{
    margin: auto;
  }
  
  //p {
  //  font-size: 16px;
  //}
  
}

.md-button.md-icon-button md-icon {
  fill: #fff !important;
}

.summary-panel .form-fields .ng-binding{
  padding-bottom: 0;
}

.errorfix {
  clear: both;
  padding-top: 1em;
}

.summary-panel .form-opt{
  display: inline-flex;
  width: 100%;
  
  &.noflexzone{
    display: block;
    width: 100%;
  }
  
  &.address{
    display: block;
    width: 100%; 
  }
  
}
.summary-panel label, .summary-panel .label{
  font-weight: 700;
  display: inline-block;
  margin-right: 1em;
}


.sqeeze{
  width: 100%;
}

.sqeeze label{
  font-weight: 700;
  display: inline-block;
  width: 50%;
}

.sqeeze .ng-binding {
  padding-bottom: 0!important;
  display: inline-block;
  width: 50%;
}

