* {
  margin: 0;
  padding: 0;
  
}
html, body, div, {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;

}
a {
  text-decoration: none;

}
h2 {
  padding: $title-padding;
  text-align: center;
  
}

.block-views-blockfind-a-course-block-1,
h2 {
  text-align: left;

}

.field-label {
  padding-right: 3px;
  
}