h1, 
h3,
a {
  color: $h1-color;
  
}

h2 {
  color: $h2-grey-color;

}

/**
  *
  * H2 Exception
  *
*/
.block-list-bg-img h2,
.block-content-with-title h2 {
  color: $h2-color;

}

.block-list div {
  color: $white;
}

.btn-blue {
  color: $dc-blue;

}
.btn-red {
  color: $dc-red;
  
}

#zone-stats {
  background-color: $dc-bg;
  
}

p,
summary {
  color: $p-color;
  
}

.stat-intro, 
.stat-content {
  color: $p-color;
  
}

#zone-about .block-content-with-title {
  background-color: $dc-blue-about;

}

.block-content p {
  color: $white;
  
}

/**
  *
  * News & Event
  *
*/
.block-news-events {
  .views-field {
    color: $white;

    p {
      color: $white;
      
    }
  }
  .views-field-field-event- div {
    box-shadow: inset 0 0 0 2000px $dc-news-overlay;
    
  }
  .more-link a {
    color: $dc-blue;
    border-color: $dc-blue;

  }
}

#zone-footer {
  background-color: $dc-footer;

  div {
    color: $white;
    
  }
}