h1, 
h2,
h3,
a {
  color: $h1-color;
  
}

.block-list div {
  color: $white;
}

.btn-blue {
  color: $dc-blue;

}
.btn-red {
  color: $dc-red;
  
}

#zone-stats {
  background-color: $dc-bg;
  
}

p {
  color: $p-color;
  
}

.stat-intro, 
.stat-content {
  color: $p-color;
  
}

#zone-about .block-content-with-title {
  background-color: $dc-blue-about;

}

.block-content p {
  color: $white;
  
}