.icon {
  img {
    width: 61px;
    height: 61px;
  
  }
}
.block-icons img {
  object-fit: cover;
  width: 111px;
  height: 83px;

}

// Social Media
.sm-facebook a {
  background: url('/themes/dorsetcollege/icons/fb.svg') no-repeat center center;

}

.sm-twitter a {
  background: url('/themes/dorsetcollege/icons/twitter.svg') no-repeat center center;

}

.sm-linkedin a {
  background: url('/themes/dorsetcollege/icons/linkedin.svg') no-repeat center center;

}

.sm-google a {
  background: url('/themes/dorsetcollege/icons/g+.svg') no-repeat center center;

}
