img {
  max-width: 500px;
  
}
// Image Header
#zone-header-img {
  .block-region-headerimage {
    @include grid-span(12, 1);
    
    .header-image{
      @include grid-span(12, 1);
      position: absolute;
      top: 71px;
      left: 0;
      height: 309px;
      z-index: -1;
    
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
  }
}