// Image Header
#zone-header-img {
  .block-region-headerimage {
    @include grid-span(12, 1);
    
    .header-image{
      @include grid-span(12, 1);
      position: absolute;
      top: 71px;
      left: 0;
      height: 309px;
      z-index: -1;
    
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 40% 40%;
      
    }
  }
}

// Block list with BG Image
.block-list-bg-img .bg-img {
  @include grid-span(12, 1);
  height: 100%;
  
  div {
    @include grid-span(12, 1);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;

  }
}
