#zone-header,
#zone-post-footer,
#zone-stats,
#zone-accreditations,
.txt-banner,
.block-links,
.wrapper,
.region-footer
{
  padding-left: $content-padding;
  padding-right: $content-padding;
  
}

.path-find-a-course #zone-main .wrapper {
  padding-left: 0;
  padding-right: 0;
  
}

.path-frontpage #zone-main {
  margin-top: -27px;
  
}

#zone-stats .zone-section {
  padding: $block-padding;

}

#zone-about {
  height: $about-height;
  
  .zone-section{
    position: relative;  

    .block-background-image {
      height: $about-height;
      
    }
  }
}

#zone-footer {
  @include grid-container;
  padding-bottom: $padding-default;

}

#zone-post-footer {
  display: none;
  
}
