.block-links {
  margin-top: 11px;

  .block-content .link {
    a {
      float: left;
      padding: 7px;
      border: solid 2px $dc-outline;
      margin: $links-margin;
      
      &:hover {
        color: $dc-red;
        background-color: $dc-outline;

      }
    }
    &:first-child a {
      border-radius: 25px 0 0 25px;
      
    }
    &:last-child a {
      border-radius: 0 25px 25px 0;
      
    }
  }
}

.block-link,
.more-link {
  a {
    @include font-size($p-links);
    display: inline-block;
    text-align: center;
    border-bottom: solid 1px $white;
    padding: $link-border-padding;

  }
}

// News & Events
.block-news-events {
  .views-field-nothing {
    text-align: center;

    a {
      border-bottom: solid 1px $white;
      padding: $link-border-padding;
    
    }
  }
  .more-link {
    padding: $link-padding;
    text-align: center;
    
  }
} 