// Cathal Code Start here


// BUTTONS: COURSE APPLY
  .course-apply{
  padding-left: 20%;
    a{
    color: $dc-red;
    }
  }

// BUTTON: COURSE VIEW MORE
.block footer {
  clear: both;
  padding: 1em 0;
  text-align: center;
}

.block footer p {
  width: fit-content;
  margin: auto;
}

.btn-more:hover {
  cursor: pointer;
}

//SEARCH FORM
.block-region-headerimage .views-exposed-form {
    width: 80% !important;
    position: absolute;
    top: 0;
    margin-top: 7rem;
    padding: 0 6%;
    background: none !important;
    
		@include breakpoint(640px) { 
      margin-top: 12.5rem;
    }
    .filter-trigger, .btn-back, label {
    display: none;
  }

  input{
  width: 70%;
  padding: 0.75em;
  float:left;
  border-radius: 60px;
    @include breakpoint(640px) {
      width: 60%;            
    }
  }

    input.button.form-submit {
      width: 30%;
      margin-left: -10%;      
      		@include breakpoint(640px) {
           width: 10%;
           margin-left: -5%
          }
    }
}

  .button.form-submit {
    background-color: $dc-red;
    color: $white !important;
    @include btn-base;
    cursor: pointer;
      &:hover {
        background-color: #F46F73; 
      }   
    }




#views-exposed-form-find-a-course-block-1,
#views-exposed-form-find-a-course-block-2,
#views-exposed-form-find-a-course-block-3,
#views-exposed-form-find-a-course-block-4,
#views-exposed-form-find-a-course-block-6,
#views-exposed-form-find-a-course-block-8{
  display: block;
  width: 25%;
  float: right;
  position: relative;
  min-height: 320px;
  margin-left: 5%;

  summary {
    color: #fff;
    padding: 1em 0.5em;
  }
  .filter-trigger{
    top: 0;
    left: 0;
    border-radius: 0;
    position: relative;
    border-bottom: 2px solid #fff;
    }

    .btn-back{
    display: none;
    }

    .button.js-form-submit.form-submit{
      padding: 10px;
      border-radius: 30px;
      background-color: #F14950;
      color: #fff !important;
      cursor: pointer;
      width: 100%;
    }
    .form-checkboxes{
    background: #F0F0F0;
    padding: 1em;
    }

  }

  .block-views-blockfind-a-course-block-1 .block-table .pager{
    position: relative !important;
        display: inline-block;
  }

  .block-views-blockfind-a-course-block-1 .block-table .table-row:hover{
        background: #efefef;
        cursor: pointer;
          .views-field-title a{
        color: #36F;
        }
  }


.block-region-bottom .block-views-exposed-filter-blockcourse-search-page-1{
  display: block;
  background: red;
}

.block-links {
  font-size: 11px;
  width: 80% !important;
    @include breakpoint(640px) {  
      margin-top: 15rem !important;
      font-size: 16px;
      }
    padding-left: 6% !important;
}

input {
  border: 0;
}
.paragraph--type--paragraph-image{
  
  img {
  width: 100%;
  height: auto;

  }

}



.block-views:nth-child(even){
  background: #efefef;
}

//.paragraph--type--dorset-course-become
.become-icon{
  //div {

    div {
      width: 20%;
      display: inline-block;
      padding: 1em 1em 1em 2em;
        background-image: url('/sites/default/files/block-bg/tick_desktop.svg');
        background-position: left center;
        background-repeat: no-repeat;
     //   padding-left: 20px; 
        background-size: 20px 20px;
            color: #5D5D5D;
    }
  //}
}

//.paragraph--type--dorset-course-become div{
//  display: inline-block
//}

//.become-icon div:first-child{
//  display: none;
//}

.block-views:not(:first-child){
  display:inline-block;
  width: 100%;
}


.block-views-blockcourses-view-block-6 .col-sm-6:nth-of-type(3){
  clear:both;
}


.block-views-blockcourses-view-block-11 div:nth-child(3){
  clear:both;
}

.views-field-field-dorset-module-option a{
  color: $p-color;
  text-decoration: underline;
}

.wrapper{
  padding: 0 !important;
}

.header-img{
    height: 309px !important;
  @include breakpoint(640px) {
    height: 390px !important;
    
  } 

}

.lecturer-row.views-row.clearfix.row-2{
  margin-top: 5em !important;
}

.lecturer-row .col-sm-4{
  margin: 0 !important;
  width: 100%;
  @include breakpoint(640px) {
    width: 33% !important;
  }
}

.lecturer-row .row-2{
  margin-top: 5em;
}

.lecturer-profile{
  position: relative;
}

.lecturer-profile img{
  width: 100%;
  height: auto;

}


.lecturer-blue{
  background-color: rgba(51,102,255,.8);
  display: block;
  position: absolute;
  width: 90%;
  top: 90%;
  margin: 0% 5%;
  text-align: center;
}

.lecturer-blue p{
  color: #fff;
  text-align: center;
  margin: 1em 0;
  
  &.btn-modal{
    border-bottom: 2px solid #fff;
    display: inline-block;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      border-bottom: 2px solid (255,255,255, 0.8);
    }
  }
}

.page-node-type-course h3{
  text-align: left;
  margin: 25px 0 !important;
  color: #5D5D5D;
}

.page-node-type-course .block {
  min-height: 100px;
}


.btn-more{
  color: #36F;
  padding: 0 5px 5px;
  border-bottom: 1px solid #36F;
}

.block-views-blocknews-events-block-pre-news-events .block-news-events footer {
  margin-top: 1em;
}

@media only screen and (min-width: 600px) {
  .block-views-blocknews-events-block-pre-news-events .block-news-events footer {
    display: none;
  }
}

p.arrow-right::after, a.arrow-right::after{
  position:absolute;
  content:"";
  -webkit-transform:translateY(50%);
  -moz-transform:translateY(50%);
  -o-transform:translateY(50%);
  -ms-transform:translateY(-50%);
  transform:translateY(75%);
  margin-left:10px;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #36F;
  }

.btn-red {
  padding: 10px;
  border-radius: 30px;
  background-color: #F14950;
  color: #fff !important;
}

.application-buttons{
  text-align: center;
  a{
  display: inline-block;
  margin: 30px;
  }
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    //position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    //display: block;
    position: absolute;
  
    &:nth-of-type(1){
    top: 50%;
    left: 30%;
    transform: translate(-10%, -20%);
    }
    &:nth-of-type(1){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    &:nth-of-type(1){
    top: 50%;
    left: 30%;
    transform: translate(-10%, -20%);
    }
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
/*    margin: 15% auto;*/ /* 15% from the top and centered */
    margin: 5vw; /* 15% from the top and centered */    
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: inline-block;
    text-align: left;
}

.lecturer-image {
    width: 20%;
    float: left;
}

.lecturer-info {
    width: 70%;
    float: left;
    margin-left:5%;
}

.lecturer-info h3{
  margin-top: 0px !important;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.paragraph--type--page-introduction, .paragraph--type--left-image-right-text, .paragraph--type--right-image-left-text{
  display: inline-block;
  clear: both;
}

/*MAIN HEADER IMAGE*/
.header-image-update {
    width: 100%;
}

.header-image-update img {
    width: 100%;
    height: auto;
    border-radius: 0 0 64% 64%/0 0 12% 12%;
    box-shadow: inset 0 0 0 2000px rgba(45,45,45,.38);
}

.header-image {
  width: 100%;

  img{
  width: 100%;
  height: auto;
  border-radius: 0 0 64% 64%/0 0 12% 12%;
  }
}

@media screen and (max-width: 600px) {
.hero-image {
  height: 309px;
  overflow: hidden;
  border-radius: 0 0 64% 64%/0 0 12% 12%;
  box-shadow: inset 0 0 0 2000px rgba(45,45,45,.38);
  
    & img {
      height: 309px;
      width: auto;
      overflow: hidden;
      border-radius: 0;
    }
  }
}

//.block-views-blockcourses-view-block-12{
//  padding-bottom: 6em;
//}

.block-region-headerimage{
  z-index: 2;
}

//STUDENT TESTIMONIALS

.block-views-blockcourses-view-block-3{
  display: inline-block;
  //margin-bottom: 2em;
  margin-bottom: 3em;
  width: 100%;
}
.test-body{
  background: #efefef;
  padding: 3.5em 1em 1em 1em;
  margin-top: -23%;
  
  & h3{
    text-align: center;
    margin: 50px 0 0 0!important;
    color: #5D5D5D;
  }
}

@media screen and (max-width: 975px) and (min-width: 600px) {
  .test-body h3{
    margin: 10px 0 0 0!important;
  }
}

.test-image img{

  border-radius: 200px;
  width: 50%;
  height: auto;
  display:block;
  margin:auto;

}

.quote-top, .quote-bottom {
  font-size: 3em;
}

.quote-bottom {
  text-align: right;
  display: inline-block;
  width: 100%;
  margin-top: -33px;
}

.testimonial-row:first-of-type .testimonial{
  margin-left: 6%;
}

.testimonial-row:last-of-type .testimonial{
  margin-right: 6%;
}

.testimonial-row:nth-child(2) .testimonial{
  margin: 0 2%;
}

.testimonial-row .col-sm-4 {
  width: 28%;
  margin-left: 0;
}

@media screen and (max-width: 600px) {

  .testimonial-row .col-sm-4 {
    width: 90%;
    margin-left: 5% !important;
    margin-bottom: 10% !important;
  }
}

.cols-3 {
  text-align: center;
  padding: 1em 0 2em 0;
  text-align: center;
  font-size: 25px;
}

.one-col {
  .col-1 {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.two-col {
  text-align: center;
  .col-1, .col-2 {
    width: 50%;
    margin: 0%;
   }
}

.block-views-blockcourses-view-block-4, .block-views-blockcourses-view-block-6, .block-views-blockcourses-view-block-9, .block-views-blockcourses-view-block-10 {
  padding-bottom: 3em;
}

.block-views-blockcourses-view-block-5 {
  padding-bottom: 2em;
}

@media only screen and (max-width: 600px) {
  .block-views-blockcourses-view-block-5{
    padding-bottom: 0em;
  }
}

.block-views-blockcourses-view-block-6, .block-views-blockcourses-view-block-5{
  text-align: center;
}

.block-views-blockcourses-view-block-12{
  display: inline-block;
  width: 100%;
}

//Student Life Index Page

.path-student-life .block-list-bg-img, .path-current-students .block-list-bg-img{
      width: 100%;
      @include breakpoint(640px) {
        width: 33.33333%;
      }
      position: relative;
      height: 300px;
      display: inline-block !important;
      padding: 0;
      float: left;
      
      &:nth-child(5)  {
        clear: both;
      }
      
      .bg-img div{
        background-position: center;
        box-shadow: inset 0 0 0 2000px rgba(45,45,45,.7);
      }
      &:nth-child(2)  {
        .bg-img div{
          box-shadow: inset 0 0 0 2000px #f14950;
          }
      }
      &:nth-child(4)  {
       .bg-img div{
           box-shadow: inset 0 0 0 2000px #2952cc;
         }
      }
      
      
      
      .block-title{
        position: absolute;
        top: 10%;
        width: 80%;
        text-align: left;
        margin: 0 10%;
        
      }
      
      .btn-link-white{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 80%;
        left: 0;
                
        a{
          border-bottom: 2px solid #fff;
          display: inline-block;
          font-weight: bold;
          padding: $link-border-padding;
          border-radius: 0;
          background: none;
        
            &:hover {
              opacity: 0.8;
              border-bottom: 2px solid (255,255,255, 0.8);
            }
            
            //&::after{
            //  position: absolute;
            //  content: "";
            //  transform: translateY(75%);
            //  margin-left: 10px;
            //  width: 0;
            //  height: 0;
            //  border-top: 7px solid transparent;
            //  border-bottom: 7px solid transparent;
            //  border-left: 7px solid #FFF;
            //
            //}
        }
      }
}

.introduction-paragraph {
  margin: 2em 6%;
}

.sub-menu{
  display: none;
}

.lecturer-row .col-sm-4.lecturer-profile{
  margin-bottom: 5em !important; 
}

.hero-title{
    position: absolute;
    //top: 30%;
    //left: 40%;
    //transform: translate(-50%, -50%);
    //-ms-transform: translate(-50%, -50%);
    margin-top: 3rem;
    padding-left: 6%;
}

#zone-actionblocks .zone-section .block-region-homeactionblocks .block-list-bg-img {
  z-index: 1 !important; 
}

.node_56 .paragraph.paragraph--type--icons-block-with-text.paragraph--view-mode--default{
  display: inline-block;
  width: 100%;
  
  .paragraph--type--paragraph-statistic {
    width: 33%;
    float: left;
    margin: 2em 0;
    text-align: center;
  }
}

.news-intro {
  text-align: center;
  margin: 2em 0;
  p {
    color: #6D6E71;
  }
}

.paragraph--type--statistics-wrapper{
  h3{
     color: #E7B929;   
  }
}

#cboxContent {
  overflow: scroll !important;
}

// INDIVIDUAL NEWS ARTICLES
.news-image {
  width: 100%;
  img {
    width: 100%;
    height: auto;
    }
}

.detail-news-story{
  h3, h1{
    color: $h2-grey-color;
    margin: 0.5em 0;
  }
  
  .col-sm-12{
    margin-bottom: 1.5em;
    padding: 1em;
  }
}

.block-views-blockacademic-calendar-view-block-pre-academic-calendar{
  background: none !important;
}

.left-paragraph, .right-paragraph{
  h2 {
    text-align: left;
  }
}

#cboxLoadedContent {
  position: fixed !important;
}

#section-content {
  
  p,li {
    a{
    color: $dc-blue;
    &:hover {
      opacity: 0.8;
    }
      
    }
  }
  ol, ul {
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px){
  .price-element .header-img {
    max-height: 191px;
  }
}

@media only screen and (min-width: 600px) {

  #zone-about .zone-section .block-region-homeabout .block-content-with-title{
      margin-left: 20% !important;
      margin-right: 20% !important;
      margin-top: -85px !important;
  }

}

@media only screen and (min-width: 600px) {
  //.path-frontpage h2{
  h2{  
    padding: 50px 0;
  }
  
  .hero-title h2{
    padding: 0;
  }
  
  .node_54 .right-paragraph, .node_54 .left-paragraph{
    h2{
      padding-top: 0;
      padding-bottom: 25px;
    }
  }
}

.flexslider-slider {
  ul.slides{
  margin-left: 0!important;
  }

  .flex-direction-nav {
  display: none;
  }
}

.slides .testimonial {
  width:90%;
  margin: auto;
}

.lecturer-slider .views-field{
  padding-bottom: 5em;
}

.statistic-content {
  padding: 0 6%;
  h3 {
  font-size: 35px;
  }
    @include breakpoint(640px) { 
    h3{
    font-size: 60px;
    }
  }
}

#zone-stats{
  padding-bottom: 6em;
}