// Cathal Code Start here


// BUTTONS: COURSE APPLY
  .course-apply{
  padding-left: 20%;
    a{
    color: $dc-red;
    }
  }

// BUTTON: COURSE VIEW MORE
.block footer {
  clear: both;
  padding: 1em 0;
  text-align: center;
}

.block footer p {
  width: fit-content;
  margin: auto;
}

.btn-more:hover {
  cursor: pointer;
}

//SEARCH FORM
.block-region-headerimage .views-exposed-form {
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 12rem;
    padding: 0 6%;
    background: none !important;

    .filter-trigger, .btn-back, label {
    display: none;
  }

  input{
  width: 40%;
  padding: 0.75em;
  float:left;
  border-radius: 60px;
  }

    input.button.form-submit {
      width: 10%;
      margin-left: -5%;
    }
}

  .button.form-submit {
    background-color: $dc-red;
    color: $white !important;
    @include btn-base;
    cursor: pointer
    }




#views-exposed-form-find-a-course-block-1,
#views-exposed-form-find-a-course-block-2,
#views-exposed-form-find-a-course-block-3,
#views-exposed-form-find-a-course-block-4,
#views-exposed-form-find-a-course-block-6,
#views-exposed-form-find-a-course-block-8{
  display: block;
  width: 25%;
  float: right;
  position: relative;
  min-height: 320px;
  margin-left: 5%;

  summary {
    color: #fff;
    padding: 1em 0.5em;
  }
  .filter-trigger{
    top: 0;
    left: 0;
    border-radius: 0;
    position: relative;
    border-bottom: 2px solid #fff;
    }

    .btn-back{
    display: none;
    }

    .button.js-form-submit.form-submit{
      padding: 10px;
      border-radius: 30px;
      background-color: #F14950;
      color: #fff !important;
      cursor: pointer;
      width: 100%;
    }
    .form-checkboxes{
    background: #efefef;
    padding: 1em;
    }

  }

  .block-views-blockfind-a-course-block-1 .block-table .pager{
    position: relative !important;
        display: inline-block;
  }

  .block-views-blockfind-a-course-block-1 .block-table .table-row:hover{
        background: #efefef;
        cursor: pointer;
          .views-field-title a{
        color: #36F;
        }
  }


.block-region-bottom .block-views-exposed-filter-blockcourse-search-page-1{
  display: block;
  background: red;
}

.block-links {
    @include breakpoint(640px) {  
      margin-top: 15rem !important;
      }
    padding-left: 6% !important;
}

input {
  border: 0;
}
.paragraph--type--paragraph-image{
  
  img {
  width: 100%;
  height: auto;

  }

}



.block-views:nth-child(even){
  background: #efefef;
}

.paragraph--type--dorset-course-become div{
  div {

    div {
      width: 20%;
      display: inline-block;
      padding: 1em 1em 1em 0.75em;
        background-image: url('http://localhost:8888/sites/default/files/stat_icon/paper-plane.svg');
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 20px; 
        background-size: 20px 20px;
    }
  }
}

//.paragraph--type--dorset-course-become div{
//  display: inline-block
//}

.become-icon div:first-child{
  display: none;
}

.block-views:not(:first-child){
  display:inline-block;
  width: 100%;
}


.block-views-blockcourses-view-block-6 .col-sm-6:nth-of-type(3){
  clear:both;
}


.block-views-blockcourses-view-block-11 div:nth-child(3){
  clear:both;
}

.views-field-field-dorset-module-option a{
  color: $p-color;
  text-decoration: underline;
}

.wrapper{
  padding: 0 !important;
}

.header-img{
  @include breakpoint(640px) {
    height: 390px !important;
    
  } 

}

.lecturer-row.views-row.clearfix.row-2{
  margin-top: 5em !important;
}

.lecturer-row .col-sm-4{
  margin: 0 !important;
  width: 100%;
  @include breakpoint(640px) {
    width: 33% !important;
  }
}

.lecturer-row .row-2{
  margin-top: 5em;
}

.lecturer-profile{
  position: relative;
}

.lecturer-profile img{
  width: 100%;
  height: auto;

}


.lecturer-blue{
  background-color: rgba(51,102,255,.8);
  display: block;
  position: absolute;
  width: 90%;
  top: 90%;
  margin: 0% 5%;
}

.lecturer-blue p{
  color: #fff;
  text-align: center;
  margin: 1em 0;
}

.page-node-type-course h3{
  text-align: left;
  margin: 25px 0 !important;
  color: #5D5D5D;
}

.page-node-type-course .block {
  min-height: 100px;
}


.btn-more{
  color: #36F;
  border-bottom: 1px solid #36F;
}

p.arrow-right::after, a.arrow-right::after{
  position:absolute;
  content:"";
  -webkit-transform:translateY(50%);
  -moz-transform:translateY(50%);
  -o-transform:translateY(50%);
  -ms-transform:translateY(-50%);
  transform:translateY(75%);
  margin-left:10px;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #36F;
  }

.btn-red {
  padding: 10px;
  border-radius: 30px;
  background-color: #F14950;
  color: #fff !important;
}

.application-buttons{
  text-align: center;
  a{
  display: inline-block;
  margin: 30px;
  }
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: inline-block;
    text-align: left;
}

.lecturer-image {
    width: 20%;
    float: left;
}

.lecturer-info {
    width: 70%;
    float: left;
    margin-left:5%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.paragraph--type--page-introduction, .paragraph--type--left-image-right-text, .paragraph--type--right-image-left-text{
  display: inline-block;
  clear: both;
}

.header-image {
  width: 100%;

  img{
  width: 100%;
  height: auto;
  border-radius: 0 0 64% 64%/0 0 12% 12%;
  }
}

.block-views-blockcourses-view-block-12{
  padding-bottom: 6em;
}

.block-region-headerimage{
  z-index: 2;
}

//STUDENT TESTIMONIALS

.block-views-blockcourses-view-block-3{
  display: inline-block;
  margin-bottom: 2em;
  width: 100%;
}
.test-body{
  background: #efefef;
  padding: 3.5em 1em 1em 1em;
  margin-top: -23%;
  
  & h3{
    text-align: center;
  }
}

.test-image img{

  border-radius: 200px;
  width: 50%;
  height: auto;
  display:block;
  margin:auto;

}

.quote-top, .quote-bottom {
  font-size: 3em;
}

.quote-bottom {
  text-align: right;
  display: inline-block;
  width: 100%;
}

.cols-3 {
  text-align: center;
  padding: 1em 0 2em 0;
  text-align: center;
  font-size: 25px;
}

.one-col {
  .col-1 {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.two-col {
  text-align: center;
  .col-1, .col-2 {
    width: 50%;
    margin: 0%;
   }
}

.block-views-blockcourses-view-block-6, .block-views-blockcourses-view-block-9, .block-views-blockcourses-view-block-10 {
  padding-bottom: 1.5em;
}

.block-views-blockcourses-view-block-6, .block-views-blockcourses-view-block-5{
  text-align: center;
}

.block-views-blockcourses-view-block-12{
  display: inline-block;
  width: 100%;
}

//Student Life Index Page

.path-student-life .block-list-bg-img, .path-current-students .block-list-bg-img{
      position: relative;
      width: 33.33333%;
      height: 300px;
      display: inline-block !important;
      padding: 0;
      float: left;
      
      &:nth-child(5)  {
        clear: both;
      }
      
      .bg-img div{
        background-position: center;
        box-shadow: inset 0 0 0 2000px rgba(45,45,45,.7);
      }
      &:nth-child(2)  {
        .bg-img div{
          box-shadow: inset 0 0 0 2000px #f14950;
          }
      }
      &:nth-child(4)  {
       .bg-img div{
           box-shadow: inset 0 0 0 2000px #2952cc;
         }
      }
      
      
      
      .block-title{
        position: absolute;
        top: 10%;
        width: 80%;
        text-align: left;
        margin: 0 10%;
        
      }
      
      .btn-link-white{
        text-align: center;
        position: absolute;
        width: 100%;
        top: 70%;
        a {
          color: blue;
        }
      }
}

.introduction-paragraph {
  margin: 2em 6%;
}

.sub-menu{
  display: none;
}

// Marc CSS

// Courses Page

.block-views-blockcourses-view-block-2 {
  width: 49.95%;
  height: 479px;
  display: inline-block;
  float: left;
}

.block-views-blockcourses-view-block-2 div{
  .views-field{
  width: 33%;
  height: 239.5px;
  display: inline-block;
  text-align: center;
  float: left;
  background-size: 82px 82px;
  background-position: 50% 20%;
  background-repeat: no-repeat;

  }
  
  .views-field-field-course-delivery-mode{
      background-image: url('/sites/default/files/block-bg/diploma.svg');
  }
  //      Validated By
  .views-field-field-validated-by{
      background-image: url('/sites/default/files/block-bg/diploma-2.svg');
  }
  //      NFQ Level
  .views-field-field-nfq-level{
      background-image: url('/sites/default/files/block-bg/graduation.svg');
  }
  //      
  .views-field-field-dorset-course-duration{
      background-image: url('/sites/default/files/block-bg/hourglass.svg');
  }
  //      Campus
  .views-field-field-campus{
      background-image: url('/sites/default/files/block-bg/museum-1.svg');
  }
  //      Type     
  .views-field-field-type-of-course{
    background-image: url('/sites/default/files/block-bg/open-book-1.svg');
  }

  .field-content{
    position: relative;
    top: 50%;
    padding: 28px;
    font-size: 20px;
    color: #5D5D5D;
    text-align: center;
  }

    .field-content a{
      font-size: 20px;
      color: #5D5D5D;
      text-align: center;
  }
    .views-label {
      position: relative;
      top: 8.5em;
      font-size: 16px;
      color: #5D5D5D;
      text-align: center;
  }
}


.block-views-blockcourses-view-block-7{
  width: 33.3% !important;
  height: 539px;
  display: inline-block;
  margin-top: -60px;
  background-image: linear-gradient(rgba(241,73,80,0.5),rgba(241,73,80,0.5)), url('/sites/default/files/styles/large/public/block_list/how_to_apply_0.jpg?itok=aKX80AYP');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.block-views-blockcourses-view-block-14 {
  width: 16.65% !important;
  height: 479px;
  background-image: url('/sites/default/files/block-bg/wallet.svg') !important;
  background-size: 82px 82px !important;
  background-position: 50% 8.5% !important;
  background-repeat: no-repeat !important;
  background-color: #ffffff !important;
  float: left;
}

.block-views-blockcourses-view-block-14 div{
  .views-field{
  width: 100%;
  display: inline-block;
  text-align: center;

  }
  .field-content{
    position: relative;
    top: 8.5em;
    font-size: 20px;
    color: #5D5D5D;
    text-align: center;
  }
}

#zone-actionblocks .zone-section .block-region-homeactionblocks .block-list-bg-img {
  z-index: 1 !important; 
}

// Course Module page

.page-node-type-course-module, #cboxContent{

  #section-header{
    display: none;
  }

  #section-footer{
    display: none;
  }

  footer{
    display: none;
  }

  .region-content article{
    position: absolute;
    padding: 5%;
  }

  .modtitle{
    display: inline-block;
    float: left;
    background-color: $dc-grey;
    width: 34%;
    height: 50px;
    padding: 2%;
    font-size: 16px;
    line-height: 1.68;
    color: #5D5D5D;
  }

  .modtitle div:first-child{
    font-weight: 700;
  }

  .modstat{
    display: inline-block;
    float: right;
    background-color: $dc-grey;
    width: 16.66%;
    height: 50px;
    padding: 2%;
    font-size: 16px;
    line-height: 1.68;
    color: #5D5D5D;
  }

  .modstat div:first-child{
    font-weight: 700;
  }

  .modstat a{
    color: #5D5D5D;
    font-weight: 400;
  }

  .modsemester{
    display: inline-block;
    float: right;
    background-color: $dc-grey;
    width: 16.66%;
    height: 50px;
    padding: 2%;
    font-size: 16px;
    line-height: 1.68;
    color: #5D5D5D;
  }

  .modsemester div:first-child{
    font-weight: 700;
  }

  .modcred{
    display: inline-block;
    float: right;
    background-color: $dc-grey;
    width: 16.66%;
    height: 50px;
    padding: 2%;
    font-size: 16px;
    line-height: 1.68;
    color: #5D5D5D;
  }

  .modcred div:first-child{
    font-weight: 700;
  }

  .moddesc{
    display: block;
    clear: both;
    padding: 2%;
  }

  .moddesc p:first-child{
    font-size: 25px;
    line-height: 1.44;
    color: #505D5D;
    font-weight: 700;
    margin: 0 0 25px;
  }

  .modindc{
    display: block;
    clear: both;
    padding: 2%;
  }

  .modindc p:first-child{
    font-size: 25px;
    line-height: 1.44;
    color: #505D5D;
    font-weight: 700;
    margin: 0 0 25px;
  }

  .modindc ul{
    margin: 2%;
  }

  .modindc ul li{
    font-size: 16px;
    line-height: 1.68;
    color: #5D5D5D;
  }

  .modass{
    display: block;
    clear: both;
    padding: 2%;
    background-color: $dc-grey;
    height: 80px;
    font-size: 16px;
    line-height: 1.68;
    color: #5D5D5D;
  }

  .modass div:nth-child(3){
    font-weight: 700;
  }


  .modass .paragraph--type--dorset-module-detail div{
    display: inline-block;
  }

  .modass div .paragraph--type--dorset-module-detail div{
    float: left;
    width: 25%;
  }

  .modass div .paragraph--type--dorset-module-detail div div:nth-child(1){
    clear: both;
    width: 100%;
    font-weight: 700;
  }

  .modass div .paragraph--type--dorset-module-detail div div:nth-child(2){
    clear: both;
  }

}